/*------------------------------------*
   STRUCTURE
*------------------------------------*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  min-height: 100%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
body * {
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
/*------------------------------------*
   NAVIGATION
*------------------------------------*/
nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 100%;
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  z-index: 99;
  border: 1px solid #dbdbdb;
  -webkit-order: 1;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
  height: 3em;
  background-color: white;
}
.logo {
  -webkit-order: 1;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  position: relative;
  background: url('../assets/logos/tm-logo.svg') no-repeat;
  background-size: 120px;
  background-position: 8px 8px;
  -webkit-flex: 45%;
  -webkit-box-flex: 45%;
  -ms-flex: 45%;
  flex: 45%;
  width: 45%;
}
.application-logo {
  width: 100%;
  background-color: white;
}
.logo, .links, .search {
  height: 3em;
  background-color: white;
}
.links {
  -webkit-order: 2;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  text-align: right;
  left: 35%;
  padding: 0.35em 0;
  -webkit-flex: 55%;
  -webkit-box-flex: 55%;
  -ms-flex: 55%;
  flex: 55%;
  width: 55%;
}
.links li a {
  color: #8aaf3e;
}
.links li a:hover {
  color: #6c9020;
}
.links ul li:last-child {
  display: none;
}
.search {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 100%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  width: 100%;
  -webkit-order: 4;
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
  background: white;
  width: 100%;
  z-index: 99;
  border-top: 1px solid #dbdbdb;
  position: fixed;
  bottom: 0;
  left: 0;
}
.search form {
  -webkit-box-flex: 76%;
  -webkit-flex: 76%;
      -ms-flex: 76%;
          flex: 76%;
  width: 76%;
  height: 100%;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}
.search form input {
  height: 3em;
  -webkit-box-flex: 80%;
  -webkit-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  width: 80%;
  -webkit-transition: 0.3s;
    transition: 0.3s;
}
.search form input, .search form input:focus{
  border: none;
  border-radius: 0;
}
.search form input:focus {
  border-bottom: 1px solid #8aaf3e;
}
.search form select {
  -webkit-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  width: 20%;
  background: #fafafa;
  border: 1px solid #dbdbdb !important;
  color: #aaaaaa;
  border: none;
  margin: 0 auto;
  height: 3em;
}
 /*------------------------------------*
   APPLICATION
}
*------------------------------------*/
.application {
  -webkit-order: 3;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-flex: 100%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  width: 100%;
  height: 88%;
  display: block;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: auto;
}
.logged-out {
  margin: 0.5em;
}
section {
  width: 100%;
  display: block;
  overflow-y: auto;
}
section.row {
  background: transparent;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-flex: 100%;
  -webkit-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  width: 100%;
}
section.row__customer, section.row__customer-landing {
  position: fixed;
  top: 6em;
  bottom: 3em;
}
section.row__customer-landing {
  bottom: 0;
}
section.row__customer .application {
  height: 100%;
}
.tm-summary {
  display: none;
}
aside {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  width: 100%;
  background: white;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  top: 4em;
}
aside ul {
  width: 100%;
  text-align: center;
}
aside#left-nav ul li {
  padding: 1em;
  display: inline-block;
  border-right: 1px solid #dbdbdb;
  width: 33.32%;
}
aside#right-nav {
  display: none;
  text-align: left;
  padding: 0 1em;
  overflow-y: auto;
}
aside#right-nav:target {
  border-top: 0;
  display: block;
  -webkit-flex: 100%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  width: 100%;
  height: auto;
  order: 3;
  padding: 1em;
}
aside#right-nav:target ~ main {
  height: 0;
}
#filters input[type="checkbox"] {
  display: none;
}
#filters label {
  -webkit-box-flex: 1;
  -webkit-flex: 0 0 30%;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  width:100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0.25em;
  padding: 0.5em 0.75em 0.25em 0.75em;
  border: 1px solid #dbdbdb;
  border-radius: 2em;
  letter-spacing: 0;
}
#filters #filter-icon {
  font-size: 2.5em;
}
#filters .badge {
  max-height: 25px;
  padding: 0.65em 0.5em 0.5em 0.5em;
  margin: 0.35em 0 0 0;
}
input[type="checkbox"]:checked + label {
  background: #fafafa;
}
main {
  -webkit-order: 3;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-flex: 1;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  width: 100%;
  -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-y: auto;
  border: 1px solid #dbdbdb;
}
section.row__label {
  background: transparent;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-flex: 100%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  width: 100%;
  padding: 0 0.5em;
}
section.row__article {
  background: transparent;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-flex: 100%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  width: 100%;
  padding: 0 1em 0 1em;
  display: inline-block;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
  margin: 1em 0 0 0;
}
article a {
  text-decoration: underline;
}
article ul {
  list-style-type: disc;
  margin: 1em;
  padding: 1em;
}
article.result, article.search-term {
  -moz-flex: 1;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}
article.search-term {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: auto;
  margin: 0.5em 0;
  padding: 1em;
  border-radius: 30px;
  word-wrap: normal;
  color: #444444;
  background: white;
  border: 1px solid #dbdbdb;
}
article.search-term [class^="icon-"], article.search-term [class*=" icon-"] {
  padding: 0 10px 0 0;
  font-size: 0.85em;
}
article.search-term a {
  text-decoration: none;
}
article.result {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 400px;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  width: 30%;
  height: 100%;
  height:350px;
  margin: 0.5em;
  padding: 0;
  text-align: center;
  border: 1px solid #dbdbdb;
  background: white;
}
article.result h3 {
  color: #565656;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em 0;
  border-bottom: 1px solid #dbdbdb;
  line-height: 1.5em;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
article.result a {
  text-decoration: none;
}
article.result a:hover h3 {
  color:  #8aaf3e;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.metadata {
  background: #565656;
  border-bottom: 1px solid #dbdbdb;
  padding: 0.5em;
}
.metadata .label { padding: 0; }
.metadata ul {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
.metadata ul li {
  display: inline-block;
  text-align: center;
  width: auto
  padding: 0.5em 0;
  margin: 0 0.5em;
}
.summary {
  padding: 1.5em 1em 0.5em;
  width: 100%;
}
.seen {
  display: none;
}
.summary a:visited .seen {
  display: block;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  -webkit-flex: 100%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  width: 100%;
  display: block;
}
/*------------------------------------*
   SUB-NAVIGATION
*------------------------------------*/
dl {
  background: white;
  border: 1px solid #dbdbdb;
  border-bottom: 0;
  margin: 0.5em;
}
dt {
  padding: 0.35em 0.5em;
  background: #dbdbdb;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
dt span.sub-nav__icon {
  padding: 1em 0.5em 0 0;
}
.scroll {
  height: 200px;
  overflow-y: auto;
}
dd {
  padding: 1em;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #dbdbdb;
  font-size: 0.85em;
}
dd ul {
  padding: 0;
  list-style-type: none;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-bottom: 0;
  margin: 1em 0;
}
dd ul li {
  padding: 0.5em;
  border-bottom: 1px solid #dbdbdb;
}
dl.help dd {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
dd span.text {
  padding: 0.35em 0 0 0;
}
.pagination {
  width: 100%;
  height: 2.5em;
  margin: 1em 0;
}
.previous, .next {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  text-align: center;
  padding: 0.75em;
}
.number {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*------------------------------------*
  LANDING PAGE
*------------------------------------*/
section.row__landing-page {
  -webkit-order: 2;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 2;
          order: 2;
  -webkit-flex: 100%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: auto;
  background: white;
  height: 100%;
}
.about, .call-to-action, .usp {
  background-image: url(../assets/stock-img/bg-img-small.jpg);
  padding: 0.5em;
}
.about {
  background-position: 0px 900px;
}
.about, .call-to-action {
  background-size: auto;
}
.usp {
  background-position: 0em 0em;
}
.reasons, .features {
  padding: 1em;
}
.features {
  height: auto;
  display: block;
}
.about h3, .usp h2, .call-to-action h2 {
  color: white;
  line-height: 1.5em;
  font-size: 1.5em;
}
.about-us {
  padding: 1em;
  display: block;
  height: auto;
  background: white;
}
.call-to-action {
  background-position: 0em -18em;
}
.clients {
  padding: 0 1em 2em 1em;
  background: white;
}
footer {
  width: 100%;
  padding: 0 0.5em 0.5em;
  -webkit-order: 100;
  -webkit-box-ordinal-group: 101;
      -ms-flex-order: 100;
          order: 100;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}
footer ul {
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
  text-align: right;
}
footer ul li {
  display: inline-block;
  width: auto;
  padding: 0 1em;
}
.si-logo {
  background: url('../assets/logos/si-logo.svg') no-repeat;
  background-size: cover;
  padding-top: 20px;
  height: 0;
  width: 15px;
  margin: 12px 0 0 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.icons {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
  text-align: center;
  font-size: 0.85em;
}
/*------------------------------------*
  SPRITES
*------------------------------------*/
.fix-vulnerabilities, .reduce-vulnerabilities, .improve-process, .delivers-compliance, .integrates, .cross-references, .provides-guidance {
  height: 200px;
  background: url(../assets/icons/landing-page-icons.png) no-repeat;
  background-position: top center;
  width: 200px;
  display: inline-block;
  position: relative;
}
.fix-vulnerabilities, .reduce-vulnerabilities, .provides-guidance {
  background-size: 685%;
}
.improve-process, .delivers-compliance, .integrates, .cross-references {
  background-size: 700%;
}
.fix-vulnerabilities, .elsevier {
  background-position: 0% 0%;
}
.reduce-vulnerabilities {
  background-position: 17.2% 0%;
}
.improve-process {
  background-position: 34% 0%;
}
.delivers-compliance {
  background-position: 50.3% 0%;
}
.integrates {
  background-position: 66.7% 0%;
}
.cross-references {
  background-position: 83% 0%;
}
.provides-guidance {
  background-position: 100% 0%;
}
/*------------------------------------*
   TYPOGRAPHY
*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: normal;
}
h1, h2, h3 {
  color: #7b7b7b;
}
h4, h5, p, ul {
  color: #444444;
}
h1 {
  font-size: 2em;
  line-height: 1.25em;
}
h2 {
  font-size: 1.75em;
  line-height: 1.153em;
}
h3 {
  font-size: 1.5em;
  line-height: 1.136em;
}
h4 {
  font-size: 1.25em;
  line-height: 1.5em;
}
h5 {
  font-size: 1em;
  line-height: 1.11em;
}
p, ul {
  font-size: 0.85em;
  line-height: 2em;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.article-info {
  list-style-type: none;
  margin: 0;
  padding: 0 2em 0 0;
  border-right: 1px solid #dbdbdb;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: auto
  text-align: center;
  display: inline-block;
}
ul.display-inline li {
  display: inline-block;
  padding: 0 0.5em;
  vertical-align: top;
}
code, pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
pre {
  display: block;
  padding: 20px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.5;
  color: #444444;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #ececec;
  border: 1px solid #aaaaaa;
  border-radius: 0px;
  margin: 30px 0 30px 0;
  overflow: auto;
}
hr {
  margin: 0 auto;
  width: 70%;
  color: #ececec;
  margin-top: 40px;
  margin-bottom: 40px;
}
a {
  color: #444444;
  text-decoration: none;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
a:hover, a:active, a:focus {
  color: #8aaf3e;
  text-decoration: none;
}
.text-center {
  text-align: center;
  margin: 0 auto;
}
.text-right {
  text-align: right !important;
}
/*------------------------------------*
   TABLES
*------------------------------------*/
table {
  width: 100%;
  padding: 0 12px;
  border-collapse: collapse;
}
section.tm-summary table {
  border: 0;
  margin: 0.5em 0;
}
section.tm-summary table tr td:first-child{
  width: 30%;
  margin: 0;
}
/*------------------------------------*
   BUTTONS
*------------------------------------*/
button, .button {
  width: 100%;
  border-radius: 2em;
  padding: 1em;
  border: none;
  display: inline-block;
  background-color: #8aaf3e;
  margin: 5px 0;
  color: white !important;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: none;
  overflow: hidden;
  text-align: center;
  font-size: 0.85em;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
button:focus, .button:focus {
  outline: none;
}
button:hover, .button:hover {
  background-color: #b4cf7b;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  color: white;
}
.btn-search {
  position: relative;
  display: inline-block;
  padding: 0.75em 1em;
  border: none;
  background: transparent;
  color: #aaaaaa !important;
  font-size: 1em;
  overflow: visible;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: auto;
}
.btn-search:hover {
  background: none;
  color: #b4cf7b !important;
}
.btn-search:focus {
  outline: none;
  color: #8aaf3e;
}
.btn-result {
  font-size: 0.95em;
  padding: 0.5em;
  color: white;
  box-shadow: none;
  display: inline-block;
  vertical-align: sup;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.btn-minor {
  background: transparent;
  color: #444444 !important;
  border: 1px solid #444444;
  width: auto;
}
.btn-minor:hover {
  background: transparent;
  border: 1px solid #aaaaaa;
  color: #aaaaaa !important;
}
.full-width {
  display: block;
  width: 100% !important;
}
.half-width {
  width: 50%;
  margin: 0 auto;
}
.one-third {
  width: 33%;
  margin: 0 auto;
}
/*------------------------------------*
   FORMS
*------------------------------------*/
form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5em;
}
form p {
  font-size: 12px;
  margin: 0 0 10px 0;
}
form ul {
  display: block;
  width: 100%;
}
label, .label {
  display: inline-block;
  padding: 3px 0 0 0;
  margin: 0 0 5px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 0.75em;
  font-weight: 500;
  color: #7b7b7b;
  display: block;
}
.label {
  border-bottom: 1px solid #dbdbdb;
  padding: 1.5em 0 12px 0;
  width: 100%;
}
.label a {
  text-decoration: underline;
}
.no-underline {
  border: 0;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"],
input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
  width: 100%;
  background-color: white;
  font-family: inherit;
  border: none;
  border: 1px solid #dbdbdb;
  color: #444444;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 1em;
  margin: 0 0 15px 0;
  padding: 0 0.5em;
  height: 40px;
  height: 2.5rem;
  box-sizing: border-box;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus,
input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus,
input[type="url"]:focus, textarea:focus, select:focus {
  outline: none;
  border: 1px solid #aaaaaa;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
.input-field, .button-field, .conditions {
  -webkit-flex: 100%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  width: 100%;
}
.conditions {
  margin: 1em 0;
}
.conditions a {
  text-decoration: underline;
}
/*------------------------------------*
   MICRO-ELEMENTS
*------------------------------------*/
.desktop-hide {
  display: block;
}
.mobile-hide {
  display: none;
}
img {
  width: 100%;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.map {
  background: #dbdbdb;
  height: 300px;
  margin: 0.5em 0 0 0;
}
.alert {
  width: 98%;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 1em;
  margin: 0 0.5em;
}
.alert-ok {
  background: #b4cf7b;
  color: #6c9020;
}
.alert-ok a {
  color: white;
  text-decoration: none;
}
.alert-ok a:hover {
  color: #6c9020;
}
.alert-ok .alert-icon {
  color: #6c9020;
}
.alert-bad {
  background: #cf7b7b;
  color: #902020;
}
.alert-bad .alert-icon {
  color: #902020;
}
.alert-bad a {
  color: white;
  text-decoration: none;
}
.alert-bad a:hover {
  color: #902020;
}
.alert-neutral {
  background: #fafafa;
  border: 1px solid #dbdbdb;
}
span.alert-icon {
  font-size: 2em;
  padding: 0 10px 0 0;
}
span.alert-text {
  vertical-align: super;
}
.close {
  font-size: 2em;
  float: right;
}
#filter-icon {
  font-size: 2em;
}
.filter-badge {
  padding: 0.25em 0.5em;
  font-size: 0.65em;
}
.badge {
  background: #dbdbdb;
  border: 1px solid #dbdbdb;
  color: #444444;
  font-size: 0.75em;
  letter-spacing: 1px;
  text-align: center;
  padding: 0.5em 0.75em;
  border-radius: 20%;
}
.validation {
  font-size: 0.75em;
}
/*------------------------------------*
   MEDIA QUERIES
*------------------------------------*/
@media (min-width: 500px) {
  .si-logo { margin: 15px 10px 0 10px; }
  .icons { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }
  .about, .call-to-action, .usp {
    background: url(../assets/stock-img/bg-img-medium.jpg) no-repeat;
    padding: 7% 10% 5%;
    text-align: center;
  }
  .about { background-position: 0px -820px; }
  .call-to-action { background-position: 0px -500px; }
  .reasons, .about-us, .features { padding: 2em 10%; }
  .clients { padding: 0 10% 2em;}
  .usp h2, .call-to-action h2, .about h3 {
    font-size: 1.75em;
  }
  .reasons h2, .clients h3, .features h2 {
    text-align: center;
  }
}
@media (min-width: 800px) {
  nav, .logo, .search, .links {
    height: 4em;
  }
  .logo {
    -webkit-flex: 25%;
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
    width: 25%;
    background-size: 200px;
  }
  .application-logo {
    background: url(../assets/logos/tm-icon.svg) no-repeat;
    background-color: white;
    background-size: 30px;
    background-position: center;
    -webkit-flex: 5%;
        -ms-flex: 5%;
            flex: 5%;
    width: 5%;
  }
  .links {
    -webkit-flex: 75%;
    -webkit-box-flex: 75%;
        -ms-flex: 75%;
            flex: 75%;
    width: 75%;
  }
  .links ul li {
    padding: 0.5em 1em;
    vertical-align: middle;
  }
  .links ul li:last-child {
    display: inline-block;
  }
  .search {
    -webkit-order: 3;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-flex: 95%;
    -webkit-box-flex: 95%;
        -ms-flex: 95%;
            flex: 95%;
    width: 95%;
    overflow: hidden;
    border-top: 0;
    background-color: white;
    display: inline-block;
    position: relative;
  }
  .search form {
    width: 100%;
  }
  .search form button {
    -webkit-box-flex: 5%;
    -webkit-flex: 5%;
        -ms-flex: 5%;
            flex: 5%;
    width: 5%;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    text-align: center;
  }
  .search form input {
    background: transparent;
    padding: 1em 0 0 1em;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 85%;
    -webkit-flex: 85%;
        -ms-flex: 85%;
            flex: 85%;
    width: 85%;
  }
  .search form input:focus {
    margin: 0.25em 0.75em;
    padding: 0.30em 0 0 1em;
    -webkit-transition: 0.3s;
            transition: 0.3s;
  }
  .search form select {
    -webkit-box-flex: 15%;
    -webkit-flex: 15%;
        -ms-flex: 15%;
            flex: 15%;
    width: 15%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin: 0.5em 0;
  }
  .application {
    -webkit-order: 5;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    height: 92%;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .logged-out {
    margin: 1em 0 0 0;
  }
  main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-order: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 3;
            order: 3;
    -webkit-flex: 95%;
    -webkit-box-flex: 95%;
        -ms-flex: 95%;
            flex: 95%;
    width: 95%;
    overflow-y: scroll;
    position: fixed;
    top: 4em;
    left: 5%;
    height: 92%;
    padding: 0 0 4em 0;
  }
  section.row__customer, section.row__customer-landing {
    top: 8em;
    bottom: 0;
  }
  section.row__customer main {
    top: 8em;
  }
  aside {
    display: block;
    -webkit-flex: 5%;
    -webkit-box-flex: 5%;
        -ms-flex: 5%;
            flex: 5%;
    width: 5%;
    text-align: center;
    height: 100%;
    padding: 0;
    position: fixed;
    top: 4em;
    border-top: 0;
  }
  aside#left-nav ul li {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #dbdbdb;
  }
  aside#right-nav {
    display: none;
    right: 0;
    text-align: left;
    padding: 0 1em;
    overflow-y: auto;
  }
  aside#right-nav:target {
    border-top: 0;
    display: block;
    -webkit-flex: 25%;
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
    width: 25%;
    height: 92%;
    order: 3;
  }
  aside#right-nav:target ~ main {
    height: 100%;
    width: 70%;
  }
  section.row__customer aside {
    top:8em;
  }
  section.row__landing-page {
    top: 4em;
  }
  section.row__label {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    width: 100%;
    height: 3.8em;
    padding: 0.5em 0.5em;
  }
  section.row__label .label {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3;
    width: 100%;
  }
  section.row__label ul {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    text-align: right;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    display: inline-block;
  }
  .col-1 {
    -webkit-flex-basis: 8.333%;
        -ms-flex-preferred-size: 8.333%;
            flex-basis: 8.333%;
    width: 8.333%;
  }
  .col-2 {
    -webkit-flex-basis: 16.667%;
        -ms-flex-preferred-size: 16.667%;
            flex-basis: 16.667%;
    width: 16.667%;
  }
  .col-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    width: 25%;
  }
  .col-4 {
    -webkit-flex-basis: 33.333%;
        -ms-flex-preferred-size: 33.333%;
            flex-basis: 33.333%;
    width: 33.333%;
  }
  .col-5 {
    -webkit-flex-basis: 41.667%;
        -ms-flex-preferred-size: 41.667%;
            flex-basis: 41.667%;
    width: 41.667%;
  }
  .col-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    width: 50%;
  }
  .col-7 {
    -webkit-flex-basis: 58.333%;
        -ms-flex-preferred-size: 58.333%;
            flex-basis: 58.333%;
    width: 58.333%;
  }
  .col-8 {
    -webkit-flex-basis: 66.667%;
        -ms-flex-preferred-size: 66.667%;
            flex-basis: 66.667%;
    width: 66.667%;
  }
  .col-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    width: 75%;
  }
  .col-10 {
    -webkit-flex-basis: 83.333%;
        -ms-flex-preferred-size: 83.333%;
            flex-basis: 83.333%;
    width: 83.333%;
  }
  .col-11 {
    -webkit-flex-basis: 91.667%;
        -ms-flex-preferred-size: 91.667%;
            flex-basis: 91.667%;
    width: 91.667%;
  }
  .col-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    width: 100%;
  }
  .btn-search {
    padding: 5px 0 0 10px;
    font-size: 1.25em;
  }
  .btn-mobile {
    display: none;
  }
  .btn-desktop {
    display: block;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    background: transparent;
    -webkit-box-flex: 3%;
    -webkit-flex: 3%;
        -ms-flex: 3%;
            flex: 3%;
    font-size: 1.25em;
    padding: 0.5em;
  }
  .btn-desktop:hover {
    background: transparent;
  }
  .icons {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .container.article, .container.search-term {
    margin: 0.5em;
  }
  footer ul {
    text-align: right;
  }
  article {
    padding: 1em 2em;
    margin: 0 0 1em 1em; }
  h1 { font-size: 2.25em; }
  h2 { font-size: 2em; }
  h3 { font-size: 1.75em; }
  h4 { font-size: 1.5em; }
  h5 { font-size: 1.25em; }
  p, ul {
    font-size: 1em;
    line-height: 1.75em;
  }
  .article-container {
    width: 60%;
    margin: 0 auto;
  }
  .input-field, .button-field, .conditions {
    -webkit-flex: 1 1 50%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding: 0 0.5em;
  }
  .button-field ul li {
    display: inline-block;
  }
  .tm-summary {
    display: inline-block;
  }
  section.tm-summary table tr td:last-child{
    width: 80%;
    margin: 0;
    padding: 0 0 0 1em;
  }
  .about, .call-to-action, .usp {
    background: url(../assets/stock-img/bg-img-large.jpg) no-repeat;
    padding: 8% 15%;
  }
  .about { background-position: 0px -1400px; }
  .call-to-action { background-position: 0px -800px; }
  .reasons, .about-us, .features { padding: 3em 10%; }
  .clients { padding: 0 10% 3em; }
  .features p {
    position: relative;
  }
  .fix-vulnerabilities, .reduce-vulnerabilities, .improve-process, .delivers-compliance, .integrates, .cross-references, .provides-guidance {
    width: 100px;
    padding: 0;
    height: 100px;
  }
  .pagination {
    width: 50%;
    margin: 0 auto;
  }
  .desktop-hide {
    display: none;
  }
  .mobile-hide {
    display: block;
  }
  dl {
    margin: 0;
  }
  .scroll {
    height: 100%;
  }
}
@media (min-width: 1285px) {
  .container {
    width: 1285px;
    margin: 0 auto;
  }
  .about, .call-to-action, .usp {
    padding: 8% 20%;
  }
  .reasons, .about-us, .features { padding: 3em 20%; }
  .clients { padding: 0em 20% 3em; }
}
/*------------------------------------*
   ICONS
*------------------------------------*/
@font-face {
  font-family: 'icons';
  src:url('../assets/fonts/flare-icons.eot?-xws5a8');
  src:url('../assets/fonts/flare-icons.eot?#iefix-xws5a8') format('embedded-opentype'),
    url('../assets/fonts/flare-icons.ttf?-xws5a8') format('truetype'),
    url('../assets/fonts/flare-icons.woff?-xws5a8') format('woff'),
    url('../assets/fonts/flare-icons.svg?-xws5a8#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-All .path1:before {
  content: "\e600";
  color: #b190e2;
}
.icon-All .path2:before {
  content: "\e601";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Android .path1:before {
  content: "\e602";
  color: #a0cf4b;
}
.icon-Android .path2:before {
  content: "\e603";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Android .path3:before {
  content: "\e604";
  margin-left: -1em;
  color: #a0cf4b;
}
.icon-Android .path4:before {
  content: "\e605";
  margin-left: -1em;
  color: #a0cf4b;
}
.icon-Android .path5:before {
  content: "\e606";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Article:before {
  content: "\e607";
}
.icon-C .path1:before {
  content: "\e608";
  color: #90bae2;
}
.icon-C .path2:before {
  content: "\e609";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Checklist .path1:before {
  content: "\e60a";
  color: rgb(255, 255, 255);
}
.icon-Checklist .path2:before {
  content: "\e60b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Checklist .path3:before {
  content: "\e60c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Checklist .path4:before {
  content: "\e60d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Checklist .path5:before {
  content: "\e60e";
  margin-left: -1em;
  color: #f6788d;
}
.icon-Close:before {
  content: "\e60f";
}
.icon-CodeExample .path1:before {
  content: "\e610";
  color: #5ed4a6;
}
.icon-CodeExample .path2:before {
  content: "\e611";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path3:before {
  content: "\e612";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path4:before {
  content: "\e613";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path5:before {
  content: "\e614";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path6:before {
  content: "\e615";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path7:before {
  content: "\e616";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path8:before {
  content: "\e617";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CodeExample .path9:before {
  content: "\e618";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Curated-Content:before {
  content: "\e619";
}
.icon-Default .path1:before {
  content: "\e61a";
  color: rgb(68, 68, 68);
}
.icon-Default .path2:before {
  content: "\e61b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Delete:before {
  content: "\e61c";
}
.icon-Deploy .path1:before {
  content: "\e61d";
  color: #a79389;
}
.icon-Deploy .path2:before {
  content: "\e61e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Design .path1:before {
  content: "\e61f";
  color: #cb6e6e;
}
.icon-Design .path2:before {
  content: "\e620";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Design .path3:before {
  content: "\e621";
  margin-left: -1em;
  color: #cb6e6e;
}
.icon-Design .path4:before {
  content: "\e622";
  margin-left: -1em;
  color: #cb6e6e;
}
.icon-Design .path5:before {
  content: "\e623";
  margin-left: -1em;
  color: #cb6e6e;
}
.icon-Filter:before {
  content: "\e624";
}
.icon-Guideline .path1:before {
  content: "\e625";
  color: rgb(255, 255, 255);
}
.icon-Guideline .path2:before {
  content: "\e626";
  margin-left: -1em;
  color: #f3bf4f;
}
.icon-HTML5 .path1:before {
  content: "\e627";
  color: #f87359;
}
.icon-HTML5 .path2:before {
  content: "\e628";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-HowTo .path1:before {
  content: "\e629";
  color: #679ff3;
}
.icon-HowTo .path2:before {
  content: "\e62a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Implementation .path1:before {
  content: "\e62b";
  color: #54adb8;
}
.icon-Implementation .path2:before {
  content: "\e62c";
  margin-left: -1em;
  color: #54adb8;
}
.icon-Implementation .path3:before {
  content: "\e62d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Index:before {
  content: "\e62e";
}
.icon-Info:before {
  content: "\e62f";
}
.icon-Java .path1:before {
  content: "\e630";
  color: #ff9200;
}
.icon-Java .path2:before {
  content: "\e631";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Logout:before {
  content: "\e632";
}
.icon-Mail:before {
  content: "\e633";
}
.icon-Net .path1:before {
  content: "\e634";
  color: #5990b5;
}
.icon-Net .path2:before {
  content: "\e635";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Net-3-5 .path1:before {
  content: "\e634";
  color: #5962b5;
}
.icon-Net-3-5 .path2:before {
  content: "\e635";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-PHP .path1:before {
  content: "\e636";
  color: rgb(255, 255, 255);
}
.icon-PHP .path2:before {
  content: "\e637";
  margin-left: -1em;
  color: #6c7eb7;
}
.icon-Paperclip:before {
  content: "\e638";
}
.icon-Principle .path1:before {
  content: "\e639";
  color: #eaa878;
}
.icon-Principle .path2:before {
  content: "\e63a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Requirement .path1:before {
  content: "\e63b";
  color: #e394f7;
}
.icon-Requirement .path2:before {
  content: "\e63c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Requirement .path3:before {
  content: "\e63d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Save:before {
  content: "\e63e";
}
.icon-Scala .path1:before {
  content: "\e63f";
  color: #ea7a78;
}
.icon-Scala .path2:before {
  content: "\e640";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Search:before {
  content: "\e641";
}
.icon-Share:before {
  content: "\e642";
}
.icon-Test .path1:before {
  content: "\e643";
  color: #cbb654;
}
.icon-Test .path2:before {
  content: "\e644";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Tick:before {
  content: "\e645";
}
.icon-Twitter:before {
  content: "\e646";
}
.icon-User:before {
  content: "\e647";
}
.icon-Vulnerabilities .path1:before {
  content: "\e648";
  color: rgb(255, 255, 255);
}
.icon-Vulnerabilities .path2:before {
  content: "\e649";
  margin-left: -1em;
  color: #82a931;
}
.icon-WCF .path1:before {
  content: "\e64a";
  color: #59caf5;
}
.icon-WCF .path2:before {
  content: "\e64b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Web-App .path1:before {
  content: "\e64c";
  color: #6eb87a;
}
.icon-Web-App .path2:before {
  content: "\e64d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Web-App .path3:before {
  content: "\e64e";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path4:before {
  content: "\e64f";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path5:before {
  content: "\e650";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path6:before {
  content: "\e651";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path7:before {
  content: "\e652";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path8:before {
  content: "\e653";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path9:before {
  content: "\e654";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path10:before {
  content: "\e655";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-Web-App .path11:before {
  content: "\e656";
  margin-left: -1em;
  color: #6eb87a;
}
.icon-iOS .path1:before {
  content: "\e657";
  color: #a6a8ab;
}
.icon-iOS .path2:before {
  content: "\e658";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Arrow-Left:before {
  content: "\e659";
}
.icon-Arrow-Right:before {
  content: "\e65a";
}
.icon-Edit:before {
  content: "\e65b";
}