/*------------------------------------*
   BASIC STRUCTURE
*------------------------------------*/
html {
  font: 100% Helvetica, sans-serif;
  font-family: Helvetica, Arial, sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  background: #fafafa;
}
html, body, #landing-page, #application {
  height: 100%;
  width: 100%;
}
img, object, .lge-container {
  margin: 0 auto;
}
img, object {
  height: auto;
  max-width: 100%;
}
.lge-container {
  max-width: 100%;
  padding: 7px;
}
.right { float: right !important; }
.left { float: left !important; }
/*------------------------------------*
   NAVIGATION
*------------------------------------*/
.fixed, #team-mentor-navigation, #customer-navigation {
  width: 100%;
}
.fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  background: white;
  border: 1px solid #dbdbdb;
}
.fixed #team-mentor-navigation {
  height: 50px;
  text-align: center;
  float: left;
  padding: 0.5em;
}
.fixed #team-mentor-navigation #customer-logo {
  height: 40px;
  padding: 5px 0;
  width: 200px;
  line-height: 40px;
  margin: auto 10px;
}
.fixed #team-mentor-navigation #message {
  font-size: 0.65em !important;
  margin-top: 0px;
  font-family: Helvetica, Arial, sans-serif;
}
.fixed #team-mentor-navigation #message a {
  font-size: 1em !important;
}
.fixed #team-mentor-navigation #tm-logo {
  background:url('../assets/logos/logos.png') no-repeat;
  height: 40px;
  width: 33%;
  margin: 0;
  background-position: 0 0;
  background-size: 180px;
  float: left;
}
.fixed #team-mentor-navigation #tm-logo.customization {
  width: 200px;
  height: 38px;
  line-height: 40px;
  background-size: 100%;
  margin: 0;
}
.fixed #team-mentor-navigation #tm-logo.sony {
  width: auto;
}
.fixed #tm-logo, #customer-navigation {
  margin-bottom: 10px;
}
.fixed #tm-logo, #links, #links ul li {
  display: inline-block;
}
.fixed #links {
  width: auto;
  float: right;
}
.fixed #links ul {
  list-style-type: none;
  padding: 5px 0 0 0;
  text-align:right;
}
.fixed #links ul li {
  display: inline-block !important;
  margin: 0px 0;
  padding: 0 20px 0 0;
}
.fixed #links ul li span.icon {
  display: none;
}
.fixed #links ul li:last-child {
  padding-right: 20px;
}
.fixed #links ul li [class^="icon-"], #links ul li [class*=" icon-"] {
  padding: 0 6px 0 0;
}
.fixed #links a {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #8aaf3e;
  font-size: 0.85em;
  font-weight: 500;
  font-family: Helvetica, sans-serif;
}
.fixed #links a:hover, #links a:focus, #links a:active {
  color: #6c9020;
}
/*------------------------------------*
   LANDING PAGES
*------------------------------------*/
#landing-page, .landing-page {
  width: 100%;
  margin: 0 auto;
}
#landing-page {
  margin-top: 0;
  left: 0;
  top:60px;
}
#landing-page #application {
  margin: 10px 0 0 0;
}
#landing-page button {
  width: auto;
}
#landing-page form, #about-us, #clients, #features, #reasons {
  background: white;
}
#landing-page form {
  border: 1px solid #dbdbdb;
  padding-bottom: 20px;
}
#about, #usp, #call-to-action, #about-us, #reasons, #features {
  padding: 1% 0 2% 0;
}
#about, #usp, #call-to-action {
  background-size: auto;
  background: url(../assets/stock-img/bg-img-large.jpg) no-repeat !important;
  padding: 8% 0;
}
#about-us, #clients, #features, #reasons {
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
#footer, #clients, #call-to-action {
  text-align: center;
}
#about h3, #usp h2, #call-to-action h2 {
  color: white;
}
#about {
  background-position: 0px -1400px;
}
#about h3 {
  padding-top: 40px;
}
#call-to-action {
  background-position: 0px -800px;
}
#usp {
  background-position: 0px 0px;
  text-align: center;
}
#usp h1 {
  padding-top: 40px;
}
#reasons {
  padding-bottom: 0;
}
#reasons img, #features img {
  width: 100%
}
#reasons table tr td:first-child, #features table tr td:first-child {
  width: 18%;
  text-align: center;
  padding: 0 1em;
}
#clients {
  padding: 0 0 5% 0;
}
#clients img {
  width: 90%;
}
#footer ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  font-size: 0.75em;
}
#footer ul.si {
  padding: 1em 0 0 1em;
  text-align: left;
}
#footer ul.si a {
  text-decoration: underline;
}
#footer li {
  display: inline-block;
}
#footer li img {
  vertical-align: middle;
  padding: 0 10px 0 0;
}
#footer ul.contact li {
  width: 15%;
  margin: 0 0 10px;
  text-align: center;
  display: inline-block;
}
#footer ul.contact li:first-child {
  width: 55%;
  display: inline-block !important;
}
#footer ul.contact a {
  text-decoration: none;
}
#footer ul.contact span.text {
  display: block;
}
#landing-page h1 {
  line-height: 2.5em;
}
#landing-page h2, #landing-page h3, #landing-page h5 {
  line-height: 1.5em;
}
#features h2, #reasons h2 {
  text-align: center;
}
/*------------------------------------*
  GETTING STARTED
*------------------------------------*/
#loginwall {
  background: transparent;
  margin: 15px 7px 0 0;
}
#summary {
  margin: 15px 0 0 7px;
}
#summary table td {
  padding: 10px;
}
#summary table tr td:first-child {
  width: 80px;
  padding: 0 50px;
}
#summary img {
  width: 100%;
}
#message td {
  padding: 0;
}
a#link-forgot-pwd.minor {
  float: right
}
#contact-information {
  margin-top: 10px;
}
/*------------------------------------*
   APPLICATION
*------------------------------------*/
#application, #search-div, #search-div-2 {
  background: #fafafa;
}
#application {
  margin-top: 60px;
}
#landing-page #application {
  padding-top: 10px;
}
#customer #application {
  padding-top: 0;
}
#customer #search-div, #customer #search-div-2 {
  top: 55px;
}
#customer #landing-page {
  padding-top: 60px;
}
#customer #landing-page #application {
  margin: 10px 0 0 0;
}
#customer #results-2 {
  margin-top: 140px;
}
.bg, #results, #results-2, #search-input {
  background: white;
  border: 1px solid #dbdbdb;
}
.bg {
  padding: 20px;
  padding-top: 5px;
  margin: 0 0 15px 0;
}
.bg.content {
  padding: 1em 3em 2em;
}
.bg#list-view-article {
  padding: 1em;
  display: inline-block;
}
.bg#list-view-article table {
  width: 100%;
}
#list-view-article h4 {
  padding: 0 0 0.5em 0;
  border-bottom: 1px solid #dbdbdb;
  margin: 0;
}
#list-view-article p {
  margin: 0;
}
#copyright {
  padding: 20px 0 5px 0;
  text-align: center;
}
#copyright ul {
  list-style: none;
  padding: 0;
}
#copyright li {
  display: block;
}
#copyright p, #copyright a {
  font-size: 0.75em;
  margin: 5px 0;
}
#filters #filter-icon {
  display: none;
}
#customer #main-app-view {
  margin-top: 130px
}
#main-app-view {
  margin-top: 140px;
}
#main-app-view h5 {
  margin: 15px 0;
}
#search-input {
  padding-bottom: 14px;
}
#search-div #search-input input {
  padding: 15px 0 0 20px;
  display: inline-block;
  width: 85%;
  margin: 0;
}
#search-div button span.icon, #search-div-2 button span.icon {
  display: none !important;
}
#search-div button span.text, #search-div-2 button span.text {
  display: block !important;
  font-weight: 600;
}
#search-input input {
  border: none;
  background: none;
}
#search-div button, #search-div-2 button {
  height: 2.5em;
}
#search-div, #search-div-2 {
  margin-bottom: 5px;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 96;
  margin: 0 auto;
  padding-top: 10px;
}
#search-div, #search-div-2 input {
  width: 92%;
}
#search-div, #search-div-2, #results {
  width: 100%;
}
#search-div-2 {
  width: 75%
}
#results {
  margin: 0 0 15px 0;
}
#results-2 {
  margin-top: 140px;
  border: none;
}
#help-nav {
  margin: 10px 10px 0 0;
}
#help {
  margin: 10px 0 0 10px;
}
#help ul, #help ol {
  padding: 0 0 0 2em;
}
#help a {
  text-decoration: underline;
}
/*------------------------------------*
   SUB-NAVIGATION
*------------------------------------*/
.sub-nav, table.nav tr {
  border: 1px solid #dbdbdb;
}
.sub-nav, table.nav td a {
  display: block;
}
.sub-nav {
  background: white;
  overflow:auto;
  text-transform: uppercase;
  font-size: 0.75em;
  white-space: pre-wrap;
  padding: 12px 0;
  width: 100%;
  margin-top: 0;
}
.sub-nav a:after { content: " / "; padding-left: 10px; color: #aaaaaa;}
.sub-nav a:before { content: " "; }
.sub-nav dd:last-child > a:after { content: "" }
.sub-nav dt, .sub-nav dd, .sub-nav li {
  float: left;
  display: inline;
  font-weight: normal;
  margin: 0 0 0 10px;
  line-height: 2em;
}
.sub-nav dt a, .sub-nav dd a, .sub-nav li a {
  text-align: left;
  text-decoration: none;
  color: #aaaaaa;
}
.sub-nav dt a:hover, .sub-nav dd a:hover, .sub-nav li a:hover {
  color: #6c9020;
}
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
  color: #8aaf3e;
}
.sub-nav dt.active a:hover, .sub-nav dd.active a:hover, .sub-nav li.active a:hover {
  color: #6c9020;
}
table.nav {
  background: #fafafa;
  font-size: 0.9em;
}
table.nav tr:hover {
  background: #dbdbdb;
}
table.nav td {
  padding: 5px 10px;
  word-wrap: break-word;
}
table.nav td a {
  color: inherit;
  text-decoration: none !important;
}
/*------------------------------------*
   FORMS
*------------------------------------*/
form, .form-group {
  margin-bottom: 15px;
  list-style-type: none;
}
#search-div form, #search-div-2 form {
  margin: 0;
}
form {
  padding: 20px 20px 0 20px;
}
form p {
  font-size: 0.75em;
  margin-top: 0;
}
form h4 {
  margin: 5px 0 20px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #dbdbdb;
}
label, .label {
  display: inline-block;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75em;
  font-weight: 700;
  color: #444444;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"],
input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
  width: 100%;
  background-color: #fafafa;
  font-family: inherit;
  border: 1px solid #dbdbdb;
  color: #444444;
  font-size: 1em;
  margin: 0 0 5px 0;
  padding: 0 0 0 0.5rem;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus,
input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus,
input[type="url"]:focus, textarea:focus, select:focus {
  outline: none;
  border: 1px solid #aaaaaa;
}
.input-group {
  display: table;
  width: 98.5%;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  height: 3em;
  margin: 10px 0 0 0;
}
.input-group .form-control {
  display: table-cell;
}
.input-group .input-group-btn {
  display: table-cell;
  vertical-align: bottom;
}
/*------------------------------------*
   TYPOGRAPHY
*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: normal;
}
h1, h2, h3 {
  color: #7b7b7b;
}
h4, h5, h6, hr {
  color: #565656;
}
h1 {
  font-size: 2.25em;
  line-height: 1.25em;
}
h2 {
  font-size: 2em;
  line-height: 1.153em;
}
h3 {
  font-size: 1.75em;
  line-height: 1.136em;
}
h4 {
  font-size: 1.5em;
  line-height: 1.3em;
}
h5 {
  font-size: 1.25em;
  line-height: 1.11em;
}
h6 {
  font-size: 1.15em;
  line-height: 1.11em;
}
p, a {
  color: #444444;
}
.bg#list-view-article a:hover h4 {
  color: #8aaf3e !important;
}
a.minor {
  line-height: 3.75em;
}
p {
  font-size: 1em;
  line-height: 1.5em;
}
ul, ol {
  margin: 0;
  padding: 0;
}
li {
  line-height: 1.5em;
}
code, pre {
  display: block;
  padding: 20px;
  line-height: 1.5;
  white-space: pre-wrap;                 /* CSS3 browsers  */
  white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
  white-space: -pre-wrap;                /* Opera 4 thru 6 */
  white-space: -o-pre-wrap;              /* Opera 7 and up */
  word-wrap: break-word;
  background-color: #fafafa;
  border: 1px solid #aaaaaa;
  margin: 30px 0;
  overflow: auto;
}
hr {
  background-color: #565656;
  height: 1px;
  margin: 40px 0;
  border: 0;
}
a {
  text-decoration: none;
  outline: none;
}
a:hover, a:active, a:focus {
  color: #6c9020;
  outline: none;
}
a.minor{
  color: #7b7b7b;
  text-decoration: none !important;
  font-size: 0.85em;
  line-height: 4.5em;
  display: block;
}
a.minor:hover {
  color: #565656;
}
#article a, #landing-page a, #message a {
  text-decoration: underline;
}
.text-right {
  text-align: right !important;
}
/*------------------------------------*
   BUTTONS
*------------------------------------*/
button, .button {
  background: #8aaf3e;
  border: none;
  color: white;
  display: inline-block;
  font-size: 0.85em;
  letter-spacing: 1px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  outline: none;
}
button:hover, button:active, .button:hover, .button:active {
  background: #b4cf7b;
}
.full-width {
  width: 100% !important;
}
#search-button {
  -webkit-box-shadow: none;
  background: transparent;
  float: right;
  width: 8%;
  font-size: 1.2em;
  color: #8aaf3e;
}
#search-button:hover {
  color: #6c9020;
}
/*------------------------------------*
   MICRO-ELEMENTS
*------------------------------------*/
.badge, .filter {
  background: #aaaaaa;
  text-align: center;
  color: white !important;
}
.badge {
  min-width: 2em;
  height: 1.5em;
  line-height:1.5em;
  font-size: 12px;
  padding: 2px 2px 2px 1px;
}
.alert {
  padding: 15px 20px;
  margin-bottom: 5px;
}
.alert-ok {
  background: #b4cf7b;
  color: #6c9020;
}
.alert-ok a {
  color: white;
  text-decoration: none !important;
}
.alert-ok a:hover {
  color: #6c9020 !important;
}
.alert-ok .alert-icon {
  color: #6c9020;
}
.alert-bad {
  background: #cf7b7b;
  color: #902020;
}
.alert-bad .alert-icon {
  color: #902020;
}
.alert-bad a {
  color: white !important;
  text-decoration: none !important;
}
.alert-bad a:hover {
  color: #902020 !important;
}
.alert-neutral {
  background: #fafafa;
  border: 1px solid #dbdbdb;
}
span.alert-icon {
  font-size: 2em;
  padding: 0 10px 0 0;
}
span.alert-text {
  vertical-align: super;
}
.filter {
  padding: 5px;
  border: 1px solid transparent;
  font-size: 12px;
  display: block;
}
.filtered {
  font-size: 12px;
  color: #aaaaaa;
  padding-right: 20px;
  text-transform: uppercase;
}
.close a {
  text-align: right;
  text-decoration: none;
  margin: 0 0 0 10px;
  padding: 0 5px 0 10px;
  color: white;
  border-left: 1px solid white;
  float: right;
}
.desktop .close a {
  float: none;
}
#message {
  font-size: 0.85em !important;
}
#message i {
  font-size: 1.25em;
}
#message a {
  text-transform: lowercase !important;
}
.mobile {
  display: none;
}
/*------------------------------------*
   TABLES
*------------------------------------*/
table {
  width: 100%;
  color: #444444;
  border-collapse: collapse;
}
.data thead, .data tr:nth-child(even) {
  background: #fafafa;
}
.data thead, .data tr {
  border: 1px solid #dbdbdb;
}
.data thead {
  text-align: left;
  letter-spacing: 1px;
}
td, th {
  padding: 10px;
  height: 30px;
}
td.small {
  width: 10px;
  padding-top: 20px;
}
td.vertical-align {
  vertical-align: middle;
  text-align: right;
}
#link-forgot-pwd { text-align: right; }
.filter {
  display: inline-block;
  margin: 2px 5px 0;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { float: left; }
.col-12 { width: 100%; }
.col-11 { width: 91.66666667%; }
.col-10 { width: 83.33333333%; }
.col-9 { width: 75%; }
.col-8 { width: 66.66666667%; }
.col-7 { width: 58.33333333%; }
.col-6 { width: 50%; }
.col-5 { width: 41.66666667%; }
.col-4 { width: 33.33333333%; }
.col-3 { width: 25%; }
.col-2 { width: 16.66666667%; }
.col-1 { width: 8.33333333%; }
.col-offset-12 { margin-left: 100%; }
.col-offset-11 { margin-left: 91.66666667%; }
.col-offset-10 { margin-left: 83.33333333%; }
.col-offset-9 { margin-left: 75%; }
.col-offset-8 { margin-left: 66.66666667%; }
.col-offset-7 { margin-left: 58.33333333%; }
.col-offset-6 { margin-left: 50%; }
.col-offset-5 { margin-left: 41.66666667%; }
.col-offset-4 { margin-left: 33.33333333%; }
.col-offset-3 { margin-left: 25%; }
.col-offset-2 { margin-left: 16.66666667%; }
.col-offset-1 { margin-left: 8.33333333%; }
.col-offset-0 { margin-left: 0; }
.row { width: 100%; }
.collapse { margin-bottom: -50px; }
.clearfix:before, .clearfix:after, .container:before, .container:after, .row:before, .row:after {
  display: table;
  content: " ";
}
.clearfix:after, .container:after, .row:after { clear: both; }
/*------------------------------------*
  HACKS
*------------------------------------*/
#article h1.article-title {
  font-size: 2em;
  margin-bottom: 0;
}
#article ul, #article ol, .toc-content ul, .toc-content ol {
  padding: 10px;
  margin: 20px;
}
#article ol {
  padding: 10px;
  margin: 20px;
}
#html > h1, #html > h2 {
  font-size: 1.5em !important;
  padding: 0;
}
.toc-content h4 {
  padding-top: 100px;
  margin-top: -80px;
}
.article-content { padding-top: 20px; }
/*------------------------------------*
   ICONS
*------------------------------------*/
@font-face {
  font-family: 'icons';
  src: url("../assets/fonts/icons.eot?-xws5a8");
  src: url("../assets/fonts/icons.eot?#iefix-xws5a8") format('embedded-opentype'), url("../assets/fonts/icons.ttf?-xws5a8") format('truetype'), url("../assets/fonts/icons.woff?-xws5a8") format('woff'), url("../assets/fonts/icons.svg?-xws5a8#icons") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-All .path1:before {
  content: "\e600";
  color: #b190e2;
}
.icon-All .path2:before {
  content: "\e601";
  margin-left: -1em;
  color: #fff;
}
.icon-Android .path1:before,
.icon-Android .path3:before,
.icon-Android .path4:before {
  color: #a0cf4b;
}
.icon-Android .path2:before,
.icon-Android .path3:before,
.icon-Android .path4:before,
.icon-Android .path5:before {
  margin-left: -1em;
}
.icon-Android .path5:before {
  color: #fff;
}
.icon-Android .path1:before {
  content: "\e602";
}
.icon-Android .path2:before {
  content: "\e603";
  color: #fff;
}
.icon-Android .path3:before {
  content: "\e604";
}
.icon-Android .path5:before {
  content: "\e606";
}
.icon-C .path1:before {
  content: "\e607";
  color: #90bae2;
}
.icon-C .path2:before {
  content: "\e608";
  margin-left: -1em;
  color: #fff;
}
.icon-Checklist .path1:before,
.icon-Checklist .path2:before,
.icon-Checklist .path3:before,
.icon-Checklist .path4:before {
  color: #fff;
}
.icon-Checklist .path2:before,
.icon-Checklist .path3:before,
.icon-Checklist .path4:before,
.icon-Checklist .path5:before {
  margin-left: -1em;
}
.icon-Checklist .path1:before {
  content: "\e609";
}
.icon-Checklist .path2:before {
  content: "\e60a";
}
.icon-Checklist .path3:before {
  content: "\e60b";
}
.icon-Checklist .path4:before {
  content: "\e60c";
}
.icon-Checklist .path5:before {
  content: "\e60d";
  color: #f6788d;
}
.icon-CodeExample .path2:before,
.icon-CodeExample .path3:before,
.icon-CodeExample .path4:before,
.icon-CodeExample .path5:before,
.icon-CodeExample .path6:before,
.icon-CodeExample .path7:before,
.icon-CodeExample .path8:before,
.icon-CodeExample .path9:before {
  color: #fff;
  margin-left: -1em;
}
.icon-CodeExample .path1:before {
  content: "\e60e";
  color: #5ed4a6;
}
.icon-CodeExample .path2:before {
  content: "\e60f";
}
.icon-CodeExample .path3:before {
  content: "\e610";
}
.icon-CodeExample .path4:before {
  content: "\e611";
}
.icon-CodeExample .path5:before {
  content: "\e612";
}
.icon-CodeExample .path6:before {
  content: "\e613";
}
.icon-CodeExample .path7:before {
  content: "\e614";
}
.icon-CodeExample .path8:before {
  content: "\e615";
}
.icon-CodeExample .path9:before {
  content: "\e616";
}
.icon-Default .path1:before {
  content: "\e617";
  color: #444;
}
.icon-Default .path2:before {
  content: "\e618";
  margin-left: -1em;
  color: #fff;
}
.icon-Deploy .path1:before {
  content: "\e619";
  color: #a79389;
}
.icon-Deploy .path2:before {
  content: "\e61a";
  margin-left: -1em;
  color: #fff;
}
.icon-Design .path1:before,
.icon-Design .path3:before,
.icon-Design .path4:before,
.icon-Design .path5:before {
  color: #cb6e6e;
}
.icon-Design .path2:before,
.icon-Design .path3:before,
.icon-Design .path4:before,
.icon-Design .path5:before {
  margin-left: -1em;
}
.icon-Design .path1:before {
  content: "\e61b";
}
.icon-Design .path2:before {
  content: "\e61c";
  color: #fff;
}
.icon-Design .path3:before {
  content: "\e61d";
}
.icon-Design .path4:before {
  content: "\e61e";
}
.icon-Design .path5:before {
  content: "\e61f";
}
.icon-Guideline .path1:before {
  content: "\e620";
  color: #fff;
}
.icon-Guideline .path2:before {
  content: "\e621";
  margin-left: -1em;
  color: #f3bf4f;
}
.icon-HowTo .path1:before {
  content: "\e622";
  color: #679ff3;
}
.icon-HowTo .path2:before {
  content: "\e623";
  margin-left: -1em;
  color: #fff;
}
.icon-HTML5 .path1:before {
  content: "\e624";
  color: #f87359;
}
.icon-HTML5 .path2:before {
  content: "\e625";
  margin-left: -1em;
  color: #fff;
}
.icon-Implementation .path1:before,
.icon-Implementation .path2:before {
  color: #54adb8;
}
.icon-Implementation .path2:before,
.icon-Implementation .path3:before {
  margin-left: -1em;
}
.icon-Implementation .path1:before {
  content: "\e626";
}
.icon-Implementation .path2:before {
  content: "\e627";
}
.icon-Implementation .path3:before {
  content: "\e628";
  color: #fff;
}
.icon-Index:before {
  content: "\e629";
}
.icon-Info:before {
  content: "\e62a";
}
.icon-iOS .path1:before {
  content: "\e62b";
  color: #a6a8ab;
}
.icon-iOS .path2:before {
  content: "\e62c";
  margin-left: -1em;
  color: #fff;
}
.icon-Java .path1:before {
  content: "\e62d";
  color: #ff9200;
}
.icon-Java .path2:before {
  content: "\e62e";
  margin-left: -1em;
  color: #fff;
}
.icon-Logout:before {
  content: "\e62f";
}
.icon-Mail:before {
  content: "\e630";
}
.icon-Net .path1:before {
  content: "\e631";
  color: #5990b5;
}
.icon-Net .path2:before {
  content: "\e632";
  margin-left: -1em;
  color: #fff;
}
.icon-Net-3-5 .path1:before {
  content: "\e631";
  color: #5962b5;
}
.icon-Net-3-5 .path2:before {
  content: "\e632";
  margin-left: -1em;
  color: #fff;
}
.icon-Paperclip:before {
  content: "\e633";
}
.icon-PHP .path1:before {
  content: "\e634";
  color: #fff;
}
.icon-PHP .path2:before {
  content: "\e635";
  margin-left: -1em;
  color: #6c7eb7;
}
.icon-Principle .path1:before {
  content: "\e636";
  color: #eaa878;
}
.icon-Principle .path2:before {
  content: "\e637";
  margin-left: -1em;
  color: #fff;
}
.icon-Requirement .path2:before,
.icon-Requirement .path3:before {
  margin-left: -1em;
  color: #fff;
}
.icon-Requirement .path1:before {
  content: "\e638";
  color: #e394f7;
}
.icon-Requirement .path2:before {
  content: "\e639";
}
.icon-Requirement .path3:before {
  content: "\e63a";
}
.icon-Scala .path1:before {
  content: "\e63b";
  color: #ea7a78;
}
.icon-Scala .path2:before {
  content: "\e63c";
  margin-left: -1em;
  color: #fff;
}
.icon-Search:before {
  content: "\e63d";
}
.icon-Test .path1:before {
  content: "\e63e";
  color: #cbb654;
}
.icon-Test .path2:before {
  content: "\e63f";
  margin-left: -1em;
  color: #fff;
}
.icon-Twitter:before {
  content: "\e640";
}
.icon-Vulnerabilities .path1:before {
  content: "\e641";
  color: #fff;
}
.icon-Vulnerabilities .path2:before {
  content: "\e642";
  margin-left: -1em;
  color: #82a931;
}
.icon-WCF .path1:before {
  content: "\e643";
  color: #59caf5;
}
.icon-WCF .path2:before {
  content: "\e644";
  margin-left: -1em;
  color: #fff;
}
.icon-Web-App .path1:before,
.icon-Web-App .path3:before,
.icon-Web-App .path4:before,
.icon-Web-App .path5:before,
.icon-Web-App .path6:before,
.icon-Web-App .path7:before,
.icon-Web-App .path8:before,
.icon-Web-App .path9:before,
.icon-Web-App .path10:before,
.icon-Web-App .path11:before {
  color: #6eb87a;
}
.icon-Web-App .path2:before,
.icon-Web-App .path3:before,
.icon-Web-App .path4:before,
.icon-Web-App .path5:before,
.icon-Web-App .path6:before,
.icon-Web-App .path7:before,
.icon-Web-App .path8:before,
.icon-Web-App .path9:before,
.icon-Web-App .path10:before,
.icon-Web-App .path11:before {
  margin-left: -1em;
}
.icon-Web-App .path1:before {
  content: "\e645";
}
.icon-Web-App .path2:before {
  content: "\e646";
  color: #fff;
}
.icon-Web-App .path3:before {
  content: "\e647";
}
.icon-Web-App .path4:before {
  content: "\e648";
}
.icon-Web-App .path5:before {
  content: "\e649";
}
.icon-Web-App .path6:before {
  content: "\e64a";
}
.icon-Web-App .path7:before {
  content: "\e64b";
}
.icon-Web-App .path8:before {
  content: "\e64c";
}
.icon-Web-App .path9:before {
  content: "\e64d";
}
.icon-Web-App .path10:before {
  content: "\e64e";
}
.icon-Web-App .path11:before {
  content: "\e64f";
}