#application, #search-div, #search-div-2
  background-color: $bodycolor

#application
  margin: 180px 0 0 0

#landing-page
  #application
    padding-top: 0 !important

#customer
  #application, #landing-page
    padding: 70px 0 0 0

  #landing-page #application
    margin: 0
    padding: 0

  #search-div, #search-div-2
    top: 179px

  #results-2
    margin-top: 140px

.bg, #results, #results-2, #search-input
  background-color: $white
  border: $border
  border-radius: 3px

.bg
  padding: 20px
  padding-top: 5px
  margin: 0 0 15px 0

  &.content
    padding: 1em

  &#list-view-article
    padding: 1em
    display: inline-block

    h4
      padding: 0 0 0.5em 0
      border-bottom: $border
      margin: 0

    a
      &:hover
        h4
          color: $brandcolor !important

    p
      margin: 0

    table
      width: 100%

#copyright
  padding: 20px 0 5px 0
  text-align: center

  ul
    list-style: none
    padding: 0

    li
      display: block

  p, a
    font-size: 0.75em
    margin: 5px 0

  [class^="icon-"], [class*=" icon-"]
    font-size: 0.65em
    margin: 0 10px 0 0

#filters, #article
  [class^="icon-"], [class*=" icon-"]
    font-size: 1.25em
    padding: 0 10px 0 0

#article, #landing-page, #message
  a
    text-decoration: underline

#articles
  [class^="icon-"], [class*=" icon-"]
    font-size: 1.25em

#main-app-view
  margin-top: 50px

  h5
    margin: 15px 0

#search-div, #search-div-2
  margin-bottom: 5px
  position: fixed
  top: 180px
  left: 0
  z-index: 96
  margin: 0 auto
  width: $fullwidth

  form
    margin: 0

#search-div
  #search-input
    padding-bottom: 14px

    input
      padding: 5px 0 0 20px
      display: inline-block
      width: 85%
      border: none
      background: none

#search-div-2
  #search-input
    padding: 0 0 20px 0

    input
      width: 85%
      border: 0

#results
  margin: 0 0 15px 0
  width: $fullwidth

#results-2
  margin-top: 150px
  border: none

#help-nav
  margin: 10px 10px 15px

#help
  margin: 0 10px 10px

  ul, ol
    padding: 0 0 0 2em

  a
    text-decoration: underline