button, .button
  background-color: $brandcolor
  border-radius: 3px
  border: none
  color: $white
  display: inline-block
  font-size: 0.85em
  letter-spacing: 1px
  padding: 15px
  text-align: center
  text-transform: uppercase
  width: auto
  outline: none

  &:hover, &:active
    background-color: $brandaccent

.full-width
  width: $fullwidth !important

#search-button
  -webkit-box-shadow: none
  background: transparent
  float: right
  width: 15%
  font-size: 1.2em
  color: $brandcolor

  &:hover
    color: $brandaccent

.team-professor
  background: #006699
  color: $white