#loginwall
  background: transparent
  margin: 15px 10px 0 10px

#summary
  margin: 10px

  table
    tr
      td
        padding: 10px

        &:first-child
          width: 80px
          padding: 0 50px

#message
  td
    padding: 0