#article
 h1
  &.article-title
    font-size: 2em
    margin-bottom: 0

  ul, ol
    padding: 10px
    margin: 20px

.toc-content
  ul, ol
    padding: 10px
    margin: 20px

  h4
    padding-top: 100px
    margin-top: -80px

.article-content
  padding-top: 20px

#html
  > h1, > h2
    font-size: 1.5em !important
    padding: 0

  ul, ol
    margin: 1em
    list-style-type: disc