#landing-page
  position: relative
  top: 175px

  form, #about-us, #clients, #features, #reasons
    background-color: $white;

  form
    border: $border
    border-radius: 3px
    padding-bottom: 20px

  #about, #usp, #call-to-action, #about-us, #reasons, #features
    padding: 1% 0 2% 0

  #about, #usp, #call-to-action
    background: $white url(../assets/stock-img/bg-img-small.jpg) no-repeat
    background-size: auto

    h3, h2
      color: $white

  #about-us, #clients, #features, #reasons
    border-left: $border
    border-right: $border

  #footer, #clients
    text-align: center

  #about
    background-position: 0 -480px

  #call-to-action
    background-position: 0 -275px

  #usp
    background-position: 0 0

  #reasons
    padding-bottom: 0

    img
      max-width: 50%

    table
      tr
        td
          &:first-child
            width: 18%
            text-align: center
            padding: 0 1em

  #features
    table
      tr
        td
          &:first-child
            width: 18%
            text-align: center
            padding: 0 1em

  #clients
    padding: 0 0 5% 0

  #footer
    ul
      list-style: none
      margin: 0
      padding: 10px 0
      font-size: 0.75em

      &.si
        padding: 1em 0 0 1em

        a
          text-decoration: underline

      li
        display: inline-block

        img
          vertical-align: middle
          padding: 0 10px 0 0

      &.contact
        li
          width: 15%
          margin: 0 0 10px
          text-align: center

          &:first-child
            display: block
            width: 100%

        a
          text-decoration: none