@media (min-width: 550px)

  // Landing Page

  #about, #call-to-action, #usp
    padding: 7% 0 5% 0
    background: url(../assets/stock-img/bg-img-medium.jpg) no-repeat
    text-align: center

  #about
    background-position: 0 -820px

  #call-to-action
    background-position: 0 -500px

  // Buttons

  button, .button
    width: $fullwidth

  // Sprites

  .elsevier, .fedex, .mass-mutual, .microsoft, .ubs
    width: 30%
    padding-top: 10%