@media (min-width: 660px)

  // First Level Navigation

  .fixed
    #team-mentor-navigation
      height: 60px
      padding: 0.5em

      #tm-logo, #links, #links ul li
        display: inline-block

      #tm-logo
        background-position: 0 0
        background-size: 100%
        width: 33%
        float: left

        &.customization
          width: 15%
          height: 20px
          line-height: 20px
          background-size: 100%
          margin: 10px

        &.sony
          width: auto

      #customer-logo
        margin: 10px
        width: 15%
        height: 20px
        line-height: 20px

      #links
        width: auto
        float: right

        ul
          padding-top: 5px
          text-align: right

          li
            padding: 0 20px 0 0

            &:last-child
              padding-right: 20px

  // Landing Page

  #landing-page
    left: 0
    top: 60px

    #application
      margin: 10px 0 0 0

  // Getting Started

  #loginwall
    margin: 15px 7px 0 0

    a#link-forgot-pwd.minor
      float: right

  #summary
    margin: 15px 0 0 7px

  // Application

  #application
    margin-top: 70px

  #landing-page, #application
    #footer
      padding: 1em 0;
      ul
        text-align: left

        li
          display: inline-block

        &.contact
          text-align: right
          padding: 0 1em 0 0

          li
            width: 20%
            text-align: right
            margin: 0
            font-size: 0.85em

            &:first-child
              width: auto
              display: inline-block
              text-align: left

        &.si
          padding: 0 1em

          li
            &:first-child
              padding: 0 1em 0 0

  #customer
    #application
      padding-top: 0

    #landing-page
      padding-top: 60px

    #landing-page #application
      margin: 10px 0 0 0

    #search-div, #search-div-2
      top: 55px

    #results-2
      margin-top: 140px

  #search-div, #search-div-2
    top: 60px
    padding-top: 10px

    input
      width: 92%

  #results-2
    margin-top: 140px

  #help-nav
    margin: 0 10px 0 0

  #help
    margin: 0px 0 0 10px

  // Buttons

  #search-button
    width: 8%