@media (min-width: 550px)

  // Landing Page

  #about, #call-to-action, #usp
    padding: 7% 0 5% 0
    background: url(../assets/stock-img/bg-img-medium.jpg) no-repeat
    text-align: center

  #about
    background-position: 0 -820px

  #call-to-action
    background-position: 0 -500px

  // Buttons

  button, .button
    width: $fullwidth

  // Sprites

  .elsevier, .fedex, .mass-mutual, .microsoft, .ubs
    width: 30%
    padding-top: 10%

@media (min-width: 660px)

  // First Level Navigation

  .fixed
    #team-mentor-navigation, #customer-navigation
      height: 60px

    #customer-navigation
      margin-bottom: 0

      #customer-logo
        text-align: left
        width: 250px
        height: auto
        padding: 3px 20px

    #team-mentor-navigation
      #tm-logo, #links, #links ul li
        display: inline-block

      #tm-logo
        background-position: 0 0
        float: left
        margin: 7px 0 0 20px
        width: 36%

      #links
        width: 60%
        float: right

        ul
          padding-top: 5px
          text-align: right

          li
            padding: 0 20px 0 0

            &:last-child
              padding-right: 20px

  // Landing Page

  #landing-page
    left: 0
    top: 60px

    #application
      margin: 10px 0 0 0

  // Getting Started

  #loginwall
    margin: 15px 7px 0 0

  #summary
    margin: 15px 0 0 7px

  // Application

  #application
    margin-top: 70px

  #customer
    #application, #landing-page
      padding-top: 60px

    #landing-page #application
      margin: 10px 0 0 0

    #search-div, #search-div-2
      top: 120px

  #search-div, #search-div-2
    top: 60px
    padding-top: 10px

    input
      width: 92%

  #results-2
    margin-top: 140px

  #help-nav
    margin: 0 10px 0 0

  #help
    margin: 0px 0 0 10px

  // Buttons

  #search-button
    width: 8%

@media (min-width: 853px)

  // Landing Page

  .landing-page
    #links
      margin: 0.75em 0 0 0

  #landing-page
    h1
      line-height: 2.5em

    h2
      line-height: 1.5em

    h3
      line-height: 1.5em

    h5
      line-height: 1.5em

    #features, #reasons
      h2
        text-align: center

    #about, #call-to-action, #usp
      background: url(../assets/stock-img/bg-img-large.jpg) no-repeat
      padding: 8% 0

    #about
      background-position: 0 -1400px

      h2
        padding-top: 40px

    #usp
      h1
        padding-top: 40px

    #call-to-action
      background-position: 0 -800px

    #reasons
      img
      max-width: $fullwidth

    #footer
      padding: 1em 0;
      ul
        text-align: left

        li
          display: inline-block

        &.contact
          text-align: right
          padding: 0 1em 0 0

          li
            width: 20%
            text-align: right
            margin: 0
            font-size: 0.85em

            &:first-child
              width: auto
              display: inline-block
              text-align: left

        &.si
          padding: 0 1em

          li
            &:first-child
              padding: 0 1em 0 0

  #contact-information
    margin-top: 10px

  // Typography
  h1
    font-size: 2.25em

  h2
    font-size: 2em

  h3
    font-size: 1.75em

  h4
    font-size: 1.5em

  h5
    font-size: 1.25em

  h6
    font-size: 1.15em
  p
    font-size: 1em
    line-height: 1.75em

  a.minor
    line-height: 3.75em

  // Application

  #main-app-view
    margin-top: 140px

  #search-div-2
    width: 75%

  .bg.content
    padding: 1em 3em 2em

  // Sprites

  .fix-vulnerabilities, .reduce-vulnerabilities, .improve-process, .delivers-compliance, .integrates, .cross-references, .provides-guidance
    width: 100px
    height: 100px

  .elsevier, .fedex, .mass-mutual, .microsoft, .ubs
    width: $fullwidth
    padding-top: 33%

@media (min-width: 1280px)
  #landing-page, .landing-page
    width: 80%
    margin: 0 auto

  .fixed
    &.landing-page
      left: 10%

@media (min-width: 2000px)
  .landing-page, #landing-page
    width: 60%

  .fixed
    &.landing-page
      left: 20%