@media (min-width: 853px)
  // Navigation
  .fixed
    #team-mentor-navigation
      #tm-logo
        &.customization
          width: 200px
          height: 38px
          line-height: 40px
          margin: 0

      #customer-logo
        width: 200px
        height: 38px
        line-height: 40px

      #tm-logo
        margin: 0
        background-size: 180px
        height: 33px

      #customer-logo
        width: 200px
        height: 40px
        line-height: 40px
        margin: auto 10px

  // Landing Page

  .landing-page
    #links
      margin: 0.75em 0 0 0

  #landing-page
    h1
      line-height: 2.5em

    h2
      line-height: 1.5em

    h3
      line-height: 1.5em

    h5
      line-height: 1.5em

    #features, #reasons
      h2
        text-align: center

    #about, #call-to-action, #usp
      background: url(../assets/stock-img/bg-img-large.jpg) no-repeat
      padding: 8% 0

    #about
      background-position: 0 -1400px

      h2
        padding-top: 40px

    #usp
      h1
        padding-top: 40px

    #call-to-action
      background-position: 0 -800px

    #reasons
      img
      max-width: $fullwidth

  #contact-information
    margin-top: 10px

  // Typography
  h1
    font-size: 2.25em

  h2
    font-size: 2em

  h3
    font-size: 1.75em

  h4
    font-size: 1.5em

  h5
    font-size: 1.25em

  h6
    font-size: 1.15em
  p
    font-size: 1em
    line-height: 1.75em

  a.minor
    line-height: 3.75em

  // Application

  #main-app-view
    margin-top: 130px

  #search-div-2
    width: 75%

  .bg.content
    padding: 1em 3em 2em

  // Sprites

  .fix-vulnerabilities, .reduce-vulnerabilities, .improve-process, .delivers-compliance, .integrates, .cross-references, .provides-guidance
    width: 100px
    height: 100px

  .elsevier, .fedex, .mass-mutual, .microsoft, .ubs
    width: $fullwidth
    padding-top: 33%