.badge, .filter
  background-color: $basecolor
  text-align: center
  color: $white !important

.badge
  min-width: 2em
  height: 1.5em
  line-height:1.75em
  border-radius:10px
  font-size: 12px
  padding: 0 5px 10px 3px

.alert
  padding: 15px 20px
  margin-bottom: 5px
  border-radius: 3px

.alert-ok
  background-color: $brandaccent
  color: $alertoktext

  a
    color: $white
    text-decoration: none !important

    &:hover
      color: $alertoktext !important

    .alert-icon
      color: $alertoktext

.alert-bad
  background-color: $alertbadbg
  color: $alertbadtext

  .alert-icon
    color: $alertbadtext

  a
    color: $white !important
    text-decoration: none !important

    &:hover
      color: $alertbadtext !important

.alert-neutral
  background-color: $bodycolor
  border: $border

span.alert-icon
  font-size: 2em
  padding: 0 10px 0 0

span.alert-text
  vertical-align: super

.filter
  padding: 5px
  border-radius: 10px
  border: 1px solid $transparent
  font-size: 12px
  display: block

.filtered
  font-size: 12px
  color: $basecolor
  padding-right: 20px
  text-transform: uppercase

.close
  a
    text-align: right
    text-decoration: none
    margin: 0 0 0 10px
    padding: 0 5px 0 10px
    color: white
    border-left: 1px solid $white
    float: right

.desktop
  .close
    a
      float: none

#message
  font-size: 0.85em !important

  a
    text-transform: lowercase !important