.fix-vulnerabilities, .reduce-vulnerabilities, .improve-process, .delivers-compliance, .integrates, .cross-references, .provides-guidance, .elsevier, .fedex, .mass-mutual, .microsoft, .ubs
  margin: 0 auto
  height: 0

.fix-vulnerabilities, .reduce-vulnerabilities, .improve-process, .delivers-compliance, .integrates, .cross-references, .provides-guidance
  background: url(../assets/icons/landing-page-icons.png) no-repeat
  width: 50px
  height: 50px

.fix-vulnerabilities, .reduce-vulnerabilities, .provides-guidance
  background-size: 685%

.improve-process, .delivers-compliance, .integrates, .cross-references
  background-size: 700%

.fix-vulnerabilities, .elsevier
  background-position: 0 0;

.reduce-vulnerabilities
  background-position: 17.2% 0

.improve-process
  background-position: 34% 0

.delivers-compliance
  background-position: 50.3% 0

.integrates
  background-position: 66.7% 0

.cross-references
  background-position: 83% 0

.provides-guidance
  background-position: 100% 0

.elsevier
  background-position: 0 0

.elsevier, .fedex, .mass-mutual, .microsoft, .ubs
  background: url(../assets/clients/logos.jpg) no-repeat
  background-size: 100%
  width: 50%
  padding-top: 18%

.fedex
  background-position: 0 20%

.mass-mutual
  background-position: 0 40%

.microsoft
  background-position: 0 60%

.ubs
  background-position: 0 100%
