html
  font: 100% Helvetica, sans-serif

html, body
  margin: 0
  padding: 0
  background-color: $bodycolor

html, body, #landing-page, #application
  height: $fullheight
  width: $fullwidth

body
  *
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

img, .lge-container
  margin: 0 auto

img, object
  height: auto
  max-width: $fullwidth

.lge-container
  max-width: $fullwidth
  padding: 7px

.right
  float: right !important

.left
  float: left !important

.mobile
  display: block

.desktop
  display: none

.row
  width: $fullwidth