table
  width: $fullwidth
  color: $textcolor
  border-collapse: collapse

  td, th
    padding: 10px
    height: 30px

  td
    &.small
      width: 10px
      padding-top: 20px

    &.vertical-align
      vertical-align: middle
      text-align: right

  &.data
    thead, tr:nth-child(even)
    background-color: $bodycolor

    thead, .data tr
      border: $border

    thead
      text-align: left
      letter-spacing: 1px