// Sections

section
  width: $fullwidth
  display: block
  overflow(auto)

  &.row, &.row__article, &.row__label, &.row__landing-page
    @extends .display-flex
    flex-wrap(wrap)
    flex-justify-content(flex-start)
    flex-align-items(flex-start)
    flex-align-content(flex-start)
    flex($fullwidth)
    width: $fullwidth
    background-color: $transparent

  &.row__article
    padding: 0 1em
    display: inline-block

    #icon-Phase, #icon-Type, #icon-technology
      font-size: 2em

  &.article-info, &.article-body
    flex-align-self(stretch)
    height: $fullheight
    padding: 1em

  &.article-info
    background: $infocolor
    overflow(hidden)

    #icon-Type, #icon-Phase, #icon-technology
      font-size: 1.5em

    .label, ul, a
      color: $white

    ul
      width: 100%
      padding: 0.5em

      &.display-inline
        padding: 0

    span.text
      padding: 0 0 0 1em

    a
      &:hover
        color: $brandaccent

    section.row__label
      padding: 0

  &.article-body
    a
      text-decoration: underline

  &.row__label
    padding: 1em
    text-align: left

  &.row__landing-page
    flex-order(2)
    overflow(auto)
    background-color: $white
    height: 92%

    button, .button
      width: auto


  &.tm-summary
    table
      border: 0
      margin: 0.5em 0

      tr
        td
          &:first-child
            width: 30%
            margin: 0

  &.import-files
    background-color: $bordercolor
    padding: 0.5em 1em

    p
      font-size: 0.85em


// Left Navigation

left-navigation
  @extends .display-flex
  flex($fullwidth)
  width: $fullwidth
  flex-order(99)
  background-color: $white
  flex-order(2)
  position: fixed
  left: 0
  bottom: 0
  border-top: $border

  aside
    width: $fullwidth

    ul
      width: $fullwidth
      text-align: center
      height: 4em

      li
        padding: 1em
        display: inline-block
        border-right: $border
        width: 20%

        &:first-child
          padding: 0
          float: left

// Filters

filters
  @extends .display-flex
  flex($fullwidth)
  width: $fullwidth

  #filters
    filter-item
      margin: 0.25em

      a
        @extends .display-flex
        flex-justify-content(space-between)
        flex(0 0 30%)
        width: $fullwidth
        padding: 0.5em 0.75em 0.25em
        border: $border
        border-radius: 2em
        letter-spacing: 0

        #filter-icon
          font-size: 1.5em
          margin: 0 0.25em 0 0

        .badge
          font-size: 0.65em
          max-height: 25px
          padding: 0.45em 0.5em 0.5em

        &:hover
          background-color: $white
          cursor:pointer

// Main container

main
  @extends .display-flex
  flex-order(1)
  flex($fullwidth)
  flex-align-items(flex-start)
  flex-align-content(flex-start)
  flex-wrap(wrap)
  width: $fullwidth
  overflow(auto)
  height: 85%
  position: fixed
  top: 3.5em

// Articles

article-box
  width: $fullwidth
  margin: 0.5em

  article
    &.result
      flex(1 1 400px)
      display: inline-block
      padding: 0
      text-align: center
      border: $border
      background-color: $white

      h3
        color: $infocolor
        margin: 0 0 1em 0
        padding: 0 0 0.5em 0
        border-bottom: $border
        line-height: 1.5em
        transitions(0.3s)

      a
        text-decoration: none

        &:hover h3
          color: $brandcolor
          transitions(0.3s)

      .metadata
        background-color: $bordercolor
        border-bottom: $border
        padding: 0 1em

        .label
          padding: 0

        ul
          flex(1)
          list-style-type: none
          padding: 0
          margin: 0
          text-align: right

          li
            display: inline-block
            text-align: center
            width: auto
            padding: 0.5em 0
            margin: 0 0.5em

            #icon-technology
              font-size: 1.5em

      .summary
        padding: 1em 1.5em 1em;
        width: $fullwidth


article
  width: $fullwidth
  padding: 0 1em

  &.search-term
    flex(1)
    display: inline-block

  &.search-term
    flex(1 0 auto)
    width: auto
    border-radius: 30px
    padding: 1em
    margin: 0.5em
    word-wrap: normal
    background-color: $white
    color: $textcolor
    border: $border

    [class^="icon-"], [class*=" icon-"]
      padding: 0 10px 0 0
      font-size: 0.85em

    div
      width: 40%
      background-color: $textcolor
      display: inline-block

      .number
        width: $fullwidth
        font-size: 1.5em
        color: $brandaccent

      .label
        color: $bodycolor

    a
      //width: 55%
      text-decoration: none
      //display: inline-block
      //padding: 0 1em