// Sections
.section
  width: $fullwidth
  display: block
  overflow(auto)

  &.row, &.row__article, &.row__label, &.row__landing-page
    @extends .display-flex
    flex-wrap(wrap)
    flex-justify-content(flex-start)
    flex-align-items(flex-start)
    flex-align-content(flex-start)
    flex($fullwidth)
    width: $fullwidth
    background-color: $transparent

  &.row
    &.fixed-bottom
      position: absolute
      bottom: 0

  &.row__article
    padding: 0 1em
    display: inline-block

    #icon-Phase, #icon-Type, #icon-technology
      font-size: 2em

    img
      max-width: 100%
      width: auto

    a
      text-decoration: underline

  &.article-info, &.article-body
    flex-align-self(stretch)
    height: $fullheight
    padding: 1em

  &.article-info
    background: $infocolor
    overflow(hidden)

    .section
      &.row
        padding: 0 0.5em

        &.fixed-bottom
          bottom: 1em
          right: 0

    #icon-Type, #icon-Phase, #icon-technology
      font-size: 1.5em

    .label, ul, a
      color: $white

    ul
      width: 100%
      padding: 0.5em

      &.display-inline
        padding: 0

        li
          padding: 0.5em

    span
      display: inline-block

      &.text
        padding: 0 0 0 0.5em
        vertical-align: super

      &.icon
        padding: 0 !important
        font-size: 0.85em

    a
      width: auto
      &:hover
        color: $brandaccent

      &.button
        padding: 0.25em 0.5em
        span
          padding: 0 0.5em

          &.text
            vertical-align: middle
            padding: 0 0.25em
            margin: 0

    section.row__label
      padding: 0

  &.article-body
    a
      text-decoration: underline

  &.row__label
    padding: 1em 0.5em
    text-align: left

    .label
      flex(90%)
      padding: 0.5em 0 1em

    h4
      margin: 0
      width: $fullwidth
      border-bottom: 1px solid $basecolor
      padding: 0 0 0.75em 0

    ul
      flex(5%)
      text-align: right

      &.toggle-bar
        flex: 10%

  &.landing-page
    flex-order(2)
    overflow(auto)
    max-height: 92%
    min-height: 88%
    position: fixed
    top: 3em

    button, .button
      width: auto

  &.tm-summary
    table
      border: 0
      margin: 0.5em 0

      tr
        td
          &:first-child
            width: 30%
            margin: 0

  &.import-files
    background-color: $bordercolor
    padding: 0.5em 1em

    p
      font-size: 0.85em

// Left Navigation

.navigation
  @extends .display-flex
  flex($fullwidth)
  width: $fullwidth
  flex-order(99)
  background-color: $white
  flex-order(2)
  position: fixed
  left: 0
  bottom: 0
  border-top: $border

  aside
    width: $fullwidth

    ul
      width: $fullwidth
      text-align: center
      height: 4em

      li
        padding: 1em
        display: inline-block
        border-right: $border
        width: 20%

        div.logo
          width: $fullwidth
          height: 4em
          background-size: 80%
          background-position: 8px 16px

        span.text
          font-size: 1.25em

// Filters

.filters
  div
    width: $fullwidth
    dl
      width: $fullwidth

      dt
        span
          color: $infocolor

        &.header
          background-color: $bodycolor
          border-bottom: $border
          padding: 0.75em

          .label.no-underline, span.sub-nav__icon
            padding: 0

      #filters
        width: $fullwidth

        dd
          width: $fullwidth
          @extends .display-flex
          padding: 0.5em 1em 0

          a
            @extends .display-flex
            flex-justify-content(space-between)
            width: $fullwidth

            &:hover
              cursor:pointer

            span
              #filter-icon
                font-size: 1.5em
                vertical-align: sub

              #filter-icon, span.text
                margin: 0 0.75em 0 0

.active-filter
  @extends .display-flex
  flex-justify-content(space-between)
  flex(0 1 auto)
  background-color: $bordercolor
  margin: 0.5em
  border-radius: 2em
  color: white
  padding: 0.25em 0.65em

  span
    &.text
      padding: 0.5em 0.75em
      font-size: 0.95em

    &.close
      font-size: 0.65em
      border-left: 1px solid $white
      padding: 0.1em 0.5em 0 0.75em

// Main container

.main
  @extends .display-flex
  flex-order(1)
  flex($fullwidth)
  flex-align-items(flex-start)
  flex-align-content(flex-start)
  flex-wrap(wrap)
  width: $fullwidth
  overflow(auto)
  height: 85%
  position: fixed
  top: 3.5em

// Articles

.article-box
  @extends .display-flex
  flex-direction(row)
  flex(1 1 100%)
  margin: 0.5em
  padding: 0
  text-align: center
  border: $border
  background-color: $white

  .result
    @extends .display-flex
    flex-direction(row)

    .metadata
      flex(8%)
      max-width: 40px
      background-color: $bordercolor
      border-bottom: $border
      padding: 1em 0

      .label
        padding: 0

      ul
        flex(1)
        list-style-type: none
        padding: 0
        margin: 0
        text-align: right

        li
          text-align: center
          width: auto
          padding: 0.25em 0

          #icon-technology
            font-size: 1.45em

          icon.Curated-Content
            font-size: 1.25em

    .summary
      flex(92%)
      padding: 1em 1.5em
      text-align: left

      h4
        color: $headingcolor
        margin: 0 0 1em 0
        padding: 0 0 0.5em 0
        border-bottom: $border
        line-height: 1.5em
        transitions(0.3s)

      a
        text-decoration: none

        &:hover h4
          color: $brandcolor
          transitions(0.3s)

.article
  width: $fullwidth
  padding: 0 1em

  img
    width: auto
    max-width: $fullwidth

    a
      text-decoration: none

// Search Terms

.search-term
  display: inline-block
  flex(0 0 auto)
  width: auto
  padding: 0
  margin: 0.5em
  word-wrap: normal

  span
    display: inline-block
    float: left

    &.icon
      background-color: $bordercolor
      padding: 0.65em 0.5em
      height: 2.5em
      display: inline-block

    &.link
      display: inline-block
      padding: 0.35em 0.5em 0.5em 1em
      height: 2.5em
      background-color: $white
      border: $border
      border-top-right-radius: 3px
      border-bottom-right-radius: 3px

// Results

results
  section.row__label
    padding: 0.5em
    .label
      flex(90%)
      width: 90%
      display: inline-block

    ul
      flex(10%)
      width: 10%
      display: inline-block