form
  @extends .display-flex
  flex(1)
  flex-wrap(wrap)
  padding: 0.5em

  &.article-editor
    padding: 0

    textarea
      min-height: 20em
      margin: 1em 0 0 0
      padding: 0.5em

    label
      margin: 0
      color: $textcolor
      font-size: 1em

  &.article-editor-grid
    flex-align-items(flex-start)
    flex-justify-content(flex-start)
    flex-align-content(flex-start)

    div
      flex(0 0 auto)

      input[type='checkbox']
        display: none

        &:checked
          + label
            background-color: $white

      label
        font-size: 0.85em
        padding: 0.5em
        margin: 0.5em
        border: $border
        border-radius: 2em
        text-transform: initial

        span
          font-size: 1.2em

  p
    font-size: 0.85em

  ul
    display: block
    width: $fullwidth

  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"],
  input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"],
  input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select
    @extends .border-box-sizing
    width: $fullwidth
    background-color: $white;
    font-family: inherit
    border: none
    border: $border
    color: $textcolor
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 1em
    margin: 0.35em 0
    padding: 0 0.5em
    height: 2.5em

    &:focus
      outline: none;
      border: 1px solid #aaaaaa;

    &:required
      box-shadow: none

  .input-field, .button-field, .conditions
    flex($fullwidth)
    width: $fullwidth
    margin: 0.15em 0

  a
    text-decoration: underline

  label, .label
    margin: 0

  &.access-form
    background-color: $white
    border: $border
    border-radius: 3px

    input
      background-color: $bodycolor

label, .label
  display: inline-block
  padding: 3px 0 0
  margin: 0 0 5px
  text-transform: uppercase
  text-decoration: none
  letter-spacing: 1px
  font-size: 0.75em
  font-weight: 500
  color: $headingcolor
  display: block

.label
  border-bottom: 1px solid $basecolor
  padding: 1.5em 0
  width: $fullwidth

  a
    text-decoration: underline

  &.no-underline
    border: 0