@font-face
  font-family: 'icons'
  src:url('../assets/fonts/flare-icons.eot?-xws5a8')
  src:url('../assets/fonts/flare-icons.eot?#iefix-xws5a8') format('embedded-opentype'),
    url('../assets/fonts/flare-icons.ttf?-xws5a8') format('truetype'),
    url('../assets/fonts/flare-icons.woff?-xws5a8') format('woff'),
    url('../assets/fonts/flare-icons.svg?-xws5a8#icons') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  font-family: 'icons'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-All
  .path1:before
    content: "\e600"
    color: $allicon

  .path2:before
    content: "\e601"
    margin-left: -1em
    color: $white

.icon-Android
  .path1:before, .path3:before, .path4:before
    color: $androidicon

  .path2:before, .path5:before
    color: $white

  .path2:before, .path3:before, .path4:before, .path5:before
    margin-left: -1em

  .path1:before
    content: "\e602"

  .path2:before
    content: "\e603"

  .path3:before
    content: "\e604"

  .path4:before
    content: "\e605"

  .path5:before
    content: "\e606"

.icon-Article:before
  content: "\e607"

.icon-C
  .path1:before
    content: "\e608"
    color: $cicon

  .path2:before
    content: "\e609"
    margin-left: -1em
    color: $white

.icon-Checklist
  .path1:before, .path2:before, .path3:before, .path4:before
    color: $white
    
  .path1:before
    content: "\e60a"

  .path2:before
    content: "\e60b"
    margin-left: -1em

  .path3:before
    content: "\e60c"
    margin-left: -1em

  .path4:before
    content: "\e60d"
    margin-left: -1em

  .path5:before
    content: "\e60e"
    margin-left: -1em
    color: $checklisticon

.icon-Close:before
  content: "\e60f"

.icon-CodeExample
  .path1:before
    content: "\e610"
    color: $codeexampleicon

  .path2:before
    content: "\e611"
    margin-left: -1em
    color: $white

  .path3:before
    content: "\e612"
    margin-left: -1em
    color: $white

  .path4:before
    content: "\e613"
    margin-left: -1em
    color: $white

  .path5:before
    content: "\e614"
    margin-left: -1em
    color: $white

  .path6:before
    content: "\e615"
    margin-left: -1em
    color: $white

  .path7:before
    content: "\e616"
    margin-left: -1em
    color: $white

  .path8:before
    content: "\e617"
    margin-left: -1em
    color: $white

  .path9:before
    content: "\e618"
    margin-left: -1em
    color: $white

.icon-Curated-Content:before
  content: "\e619"

.icon-Default
  .path1:before
    content: "\e61a"
    color: $textcolor

  .path2:before
    content: "\e61b"
    margin-left: -1em
    color: $white

.icon-Delete:before
  content: "\e61c"

.icon-Deploy
  .path1:before
    content: "\e61d"
    color: $deployicon

  .path2:before
    content: "\e61e"
    margin-left: -1em
    color: $white

.icon-Design
  .path1:before
    content: "\e61f"
    color: $designicon

  .path2:before
    content: "\e620"
    margin-left: -1em
    color: $white

  .path3:before
    content: "\e621"
    margin-left: -1em
    color: $designicon

  .path4:before
    content: "\e622"
    margin-left: -1em
    color: $designicon

  .path5:before
    content: "\e623"
    margin-left: -1em
    color: $designicon

.icon-Filter:before
  content: "\e624"

.icon-Guideline
  .path1:before
    content: "\e625"
    color: $white

  .path2:before
    content: "\e626"
    margin-left: -1em
    color: $guidelineicon

.icon-HTML5
  .path1:before
    content: "\e627"
    color: $html5icon

  .path2:before
    content: "\e628"
    margin-left: -1em
    color: $white

.icon-HowTo
  .path1:before
    content: "\e629"
    color: $howtoicon

  .path2:before
    content: "\e62a"
    margin-left: -1em
    color: $white

.icon-Implementation
  .path1:before
    content: "\e62b"
    color: $implementationicon

  .path2:before
    content: "\e62c"
    margin-left: -1em
    color: $implementationicon

  .path3:before
    content: "\e62d"
    margin-left: -1em
    color: $white

.icon-Index:before
  content: "\e62e"

.icon-Info:before
  content: "\e62f"

.icon-Java
  .path1:before
    content: "\e630"
    color: $javaicon

  .path2:before
    content: "\e631"
    margin-left: -1em
    color: $white

.icon-Logout:before
  content: "\e632"

.icon-Mail:before
  content: "\e633"

.icon-Net
  .path1:before
    content: "\e634"
    color: $neticon

  .path2:before
    content: "\e635"
    margin-left: -1em
    color: $white

.icon-Net-3-5
  .path1:before
    content: "\e634"
    color: $net35icon

  .path2:before
    content: "\e635"
    margin-left: -1em
    color: $white

.icon-PHP
  .path1:before
    content: "\e636"
    color: $white

  .path2:before
    content: "\e637"
    margin-left: -1em
    color: $phpicon

.icon-Paperclip:before
  content: "\e638"

.icon-Principle
  .path1:before
    content: "\e639"
    color: $principleicon

  .path2:before
    content: "\e63a"
    margin-left: -1em
    color: $white

.icon-Requirement
  .path1:before
    content: "\e63b"
    color: $requirementicon

  .path2:before
    content: "\e63c"
    margin-left: -1em
    color: $white

  .path3:before
    content: "\e63d"
    margin-left: -1em
    color: $white

.icon-Save:before
  content: "\e63e"

.icon-Scala
  .path1:before
    content: "\e63f"
    color: $scalaicon

  .path2:before
    content: "\e640"
    margin-left: -1em
    color: $white

.icon-Search:before
  content: "\e641"

.icon-Share:before
  content: "\e642"

.icon-Test
  .path1:before
    content: "\e643"
    color: $testicon

  .path2:before
    content: "\e644"
    margin-left: -1em
    color: $white

.icon-Tick:before
  content: "\e645"

.icon-Twitter:before
  content: "\e646"

.icon-User:before
  content: "\e647"

.icon-Vulnerabilities
  .path1:before
    content: "\e648"
    color: $white

  .path2:before
    content: "\e649"
    margin-left: -1em
    color: $vulnerabilitiesicon

.icon-WCF
  .path1:before
    content: "\e64a"
    color: $wcficon

  .path2:before
    content: "\e64b"
    margin-left: -1em
    color: $white

.icon-Web-App
  .path1:before
    content: "\e64c"
    color: $webappicon

  .path2:before
    content: "\e64d"
    margin-left: -1em
    color: $white

  .path3:before
    content: "\e64e"
    margin-left: -1em
    color: $webappicon

  .path4:before
    content: "\e64f"
    margin-left: -1em
    color: $webappicon

  .path5:before
    content: "\e650"
    margin-left: -1em
    color: $webappicon

  .path6:before
    content: "\e651"
    margin-left: -1em
    color: $webappicon

  .path7:before
    content: "\e652"
    margin-left: -1em
    color: $webappicon

  .path8:before
    content: "\e653"
    margin-left: -1em
    color: $webappicon

  .path9:before
    content: "\e654"
    margin-left: -1em
    color: $webappicon

  .path10:before
    content: "\e655"
    margin-left: -1em
    color: $webappicon

  .path11:before
    content: "\e656"
    margin-left: -1em
    color: $webappicon

.icon-iOS
  .path1:before
    content: "\e657"
    color: $iosicon

  .path2:before
    content: "\e658"
    margin-left: -1em
    color: $white

.icon-Arrow-Left:before
  content: "\e659"

.icon-Arrow-Right:before
  content: "\e65a"

.icon-Edit:before
  content: "\e65b"

.icon-home:before
  content: "\e65c"