@font-face
  font-family: 'icons'
  src:url('../assets/fonts/flare-icons.eot?-xws5a8')
  src:url('../assets/fonts/flare-icons.eot?#iefix-xws5a8') format('embedded-opentype'),
    url('../assets/fonts/flare-icons.ttf?-xws5a8') format('truetype'),
    url('../assets/fonts/flare-icons.woff?-xws5a8') format('woff'),
    url('../assets/fonts/flare-icons.svg?-xws5a8#icons') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  font-family: 'icons'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-All
  .path1:before
    content: "\e600"
    color: #b190e2

  .path2:before
    content: "\e601"
    margin-left: -1em
    color: rgb(255, 255, 255)

.icon-Android
  .path1:before
    content: "\e602";
    color: #a0cf4b;

  .path2:before
    content: "\e603"
    margin-left: -1em
    color: rgb(255, 255, 255)

  .path3:before
    content: "\e604"
    margin-left: -1em
    color: #a0cf4b

  .path4:before
    content: "\e605"
    margin-left: -1em
    color: #a0cf4b

  .path5:before
    content: "\e606"
    margin-left: -1em
    color: rgb(255, 255, 255)

.icon-Article:before
  content: "\e607"

.icon-C
  .path1:before
    content: "\e608"
    color: #90bae2

  .path2:before
    content: "\e609"
    margin-left: -1em
    color: rgb(255, 255, 255)

.icon-Checklist
  .path1:before
    content: "\e60a"
    color: rgb(255, 255, 255)

  .path2:before
    content: "\e60b"
    margin-left: -1em
    color: rgb(255, 255, 255)

  .path3:before
    content: "\e60c"
    margin-left: -1em
    color: rgb(255, 255, 255)

  .path4:before
    content: "\e60d"
    margin-left: -1em
    color: rgb(255, 255, 255)

  .path5:before
    content: "\e60e"
    margin-left: -1em
    color: #f6788d

.icon-Close:before
  content: "\e60f"

.icon-CodeExample
  .path1:before
    content: "\e610"
    color: #5ed4a6

  .path2:before
    content: "\e611"
    margin-left: -1em
    color: rgb(255, 255, 255)

  .path3:before
    content: "\e612"
    margin-left: -1em
    color: rgb(255, 255, 255)

  .path4:before
    content: "\e613"
    margin-left: -1em
    color: rgb(255, 255, 255)

  .path5:before
    content: "\e614"
    margin-left: -1em
    color: rgb(255, 255, 255)

  .path6:before
    content: "\e615"
    margin-left: -1em
    color: rgb(255, 255, 255)

  .path7:before
    content: "\e616"
    margin-left: -1em
    color: rgb(255, 255, 255)

  .path8:before
    content: "\e617"
    margin-left: -1em
    color: rgb(255, 255, 255)

  .path9:before
    content: "\e618"
    margin-left: -1em
    color: rgb(255, 255, 255)

.icon-Curated-Content:before
  content: "\e619"

.icon-Default
  .path1:before
    content: "\e61a"
    color: rgb(68, 68, 68)

  .path2:before
    content: "\e61b"
    margin-left: -1em
    color: rgb(255, 255, 255)

.icon-Delete:before
  content: "\e61c"

.icon-Deploy
  .path1:before
    content: "\e61d"
    color: #a79389

  .path2:before
    content: "\e61e"
    margin-left: -1em
    color: rgb(255, 255, 255)

.icon-Design
  .path1:before
    content: "\e61f"
    color: #cb6e6e

  .path2:before
    content: "\e620"
    margin-left: -1em
    color: rgb(255, 255, 255)

  .path3:before
    content: "\e621"
    margin-left: -1em
    color: #cb6e6e

  .path4:before
    content: "\e622"
    margin-left: -1em
    color: #cb6e6e

  .path5:before
    content: "\e623"
    margin-left: -1em
    color: #cb6e6e

.icon-Filter:before
  content: "\e624"

.icon-Guideline
  .path1:before
    content: "\e625"
    color: rgb(255, 255, 255)

  .path2:before
    content: "\e626"
    margin-left: -1em
    color: #f3bf4f

.icon-HTML5
  .path1:before
    content: "\e627"
    color: #f87359

  .path2:before
    content: "\e628"
    margin-left: -1em
    color: rgb(255, 255, 255)

.icon-HowTo
  .path1:before
    content: "\e629"
    color: #679ff3

  .path2:before
    content: "\e62a"
    margin-left: -1em
    color: rgb(255, 255, 255)

.icon-Implementation
  .path1:before
    content: "\e62b"
    color: #54adb8

  .path2:before
    content: "\e62c"
    margin-left: -1em
    color: #54adb8

  .path3:before
    content: "\e62d"
    margin-left: -1em
    color: rgb(255, 255, 255)

.icon-Index:before
  content: "\e62e"

.icon-Info:before
  content: "\e62f"

.icon-Java
  .path1:before
    content: "\e630"
    color: #ff9200

  .path2:before
    content: "\e631"
    margin-left: -1em
    color: rgb(255, 255, 255)

.icon-Logout:before
  content: "\e632"

.icon-Mail:before
  content: "\e633"

.icon-Net
  .path1:before
    content: "\e634"
    color: #5990b5

  .path2:before
    content: "\e635"
    margin-left: -1em
    color: rgb(255, 255, 255)

.icon-Net-3-5
  .path1:before
    content: "\e634"
    color: #5962b5

  .path2:before
    content: "\e635"
    margin-left: -1em
    color: rgb(255, 255, 255)

.icon-PHP
  .path1:before
    content: "\e636"
    color: rgb(255, 255, 255)

  .path2:before
    content: "\e637"
    margin-left: -1em
    color: #6c7eb7

.icon-Paperclip:before
  content: "\e638"

.icon-Principle
  .path1:before
    content: "\e639"
    color: #eaa878

  .path2:before
    content: "\e63a"
    margin-left: -1em
    color: rgb(255, 255, 255)

.icon-Requirement
  .path1:before
    content: "\e63b"
    color: #e394f7

  .path2:before
    content: "\e63c"
    margin-left: -1em
    color: rgb(255, 255, 255)

  .path3:before
    content: "\e63d"
    margin-left: -1em
    color: rgb(255, 255, 255)

.icon-Save:before
  content: "\e63e"

.icon-Scala
  .path1:before
    content: "\e63f"
    color: #ea7a78

  .path2:before
    content: "\e640"
    margin-left: -1em
    color: rgb(255, 255, 255)

.icon-Search:before
  content: "\e641"

.icon-Share:before
  content: "\e642"

.icon-Test
  .path1:before
    content: "\e643"
    color: #cbb654

  .path2:before
    content: "\e644"
    margin-left: -1em
    color: rgb(255, 255, 255)

.icon-Tick:before
  content: "\e645"

.icon-Twitter:before
  content: "\e646"

.icon-User:before
  content: "\e647"

.icon-Vulnerabilities
  .path1:before
    content: "\e648"
    color: rgb(255, 255, 255)

  .path2:before
    content: "\e649"
    margin-left: -1em
    color: #82a931

.icon-WCF
  .path1:before
    content: "\e64a"
    color: #59caf5

  .path2:before
    content: "\e64b"
    margin-left: -1em
    color: rgb(255, 255, 255)

.icon-Web-App
  .path1:before
    content: "\e64c"
    color: #6eb87a

  .path2:before
    content: "\e64d"
    margin-left: -1em
    color: rgb(255, 255, 255)

  .path3:before
    content: "\e64e"
    margin-left: -1em
    color: #6eb87a

  .path4:before
    content: "\e64f"
    margin-left: -1em
    color: #6eb87a

  .path5:before
    content: "\e650"
    margin-left: -1em
    color: #6eb87a

  .path6:before
    content: "\e651"
    margin-left: -1em
    color: #6eb87a

  .path7:before
    content: "\e652"
    margin-left: -1em
    color: #6eb87a

  .path8:before
    content: "\e653"
    margin-left: -1em
    color: #6eb87a

  .path9:before
    content: "\e654"
    margin-left: -1em
    color: #6eb87a

  .path10:before
    content: "\e655"
    margin-left: -1em
    color: #6eb87a

  .path11:before
    content: "\e656"
    margin-left: -1em
    color: #6eb87a

.icon-iOS
  .path1:before
    content: "\e657"
    color: #a6a8ab

  .path2:before
    content: "\e658"
    margin-left: -1em
    color: rgb(255, 255, 255)

.icon-Arrow-Left:before
  content: "\e659"

.icon-Arrow-Right:before
  content: "\e65a"

.icon-Edit:before
  content: "\e65b"
