@font-face
  font-family: 'icons'
  src:url('../assets/fonts/flare-icons.eot?-xws5a8')
  src:url('../assets/fonts/flare-icons.eot?#iefix-xws5a8') format('embedded-opentype'),
    url('../assets/fonts/flare-icons.ttf?-xws5a8') format('truetype'),
    url('../assets/fonts/flare-icons.woff?-xws5a8') format('woff'),
    url('../assets/fonts/flare-icons.svg?-xws5a8#icons') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  font-family: 'icons'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-Add:before
  content: "\e600"

.icon-All
  .path1:before
    content: "\e601"
    color: $allicon

  .path2:before
    content: "\e602"
    margin-left: -1em
    color: $white

.icon-Android
  .path1:before, .path3:before, .path4:before
    color: $androidicon

  .path2:before, .path5:before
    color: $white

  .path2:before, .path3:before, .path4:before, .path5:before
    margin-left: -1em

  .path1:before
    content: "\e603"

  .path2:before
    content: "\e604"

  .path3:before
    content: "\e605"

  .path4:before
    content: "\e606"

  .path5:before
    content: "\e607"

.icon-Article:before
  content: "\e608"

.icon-C
  .path1:before
    content: "\e609"
    color: $cicon

  .path2:before
    content: "\e60a"
    margin-left: -1em
    color: $white

.icon-Checklist
  .path1:before, .path2:before, .path3:before, .path4:before
    color: $white

  .path2:before, .path3:before, .path4:before, .path5:before
    margin-left: -1em

  .path1:before
    content: "\e60b"

  .path2:before
    content: "\e60c"

  .path3:before
    content: "\e60d"

  .path4:before
    content: "\e60e"

  .path5:before
    content: "\e60f"
    color: $checklisticon

.icon-Close:before
  content: "\e610"

.icon-CodeExample
  .path2:before, .path3:before, .path4:before, .path5:before, .path6:before, .path7:before, .path8:before, path9:before
    margin-left: -1em
    color: $white

  .path1:before
    content: "\e611"
    color: $codeexampleicon

  .path2:before
    content: "\e612"

  .path3:before
    content: "\e613"

  .path4:before
    content: "\e614"

  .path5:before
    content: "\e615"

  .path6:before
    content: "\e616"

  .path7:before
    content: "\e617"

  .path8:before
    content: "\e618"

  .path9:before
    content: "\e619"

.icon-Curated-Content:before
  content: "\e61a"

.icon-Default
  .path1:before
    content: "\e61b"
    color: $textcolor

  .path2:before
    content: "\e61c"
    margin-left: -1em
    color: $white

.icon-Delete:before
  content: "\e61d"

.icon-Deploy
  .path1:before
    content: "\e61e"
    color: $deployicon

  .path2:before
    content: "\e61f"
    margin-left: -1em
    color: $white

.icon-Design
  .path2:before, .path3:before, .path4:before, .path5:before
    margin-left: -1em

  .path1:before, .path3:before, .path4:before, .path5:before
    color: $designicon

  .path1:before
    content: "\e620"

  .path2:before
    content: "\e621"
    color: $white

  .path3:before
    content: "\e622"

  .path4:before
    content: "\e623"

  .path5:before
    content: "\e624"

.icon-Filter:before
  content: "\e625"

.icon-Guideline
  .path1:before
    content: "\e626"
    color: $white

  .path2:before
    content: "\e627"
    margin-left: -1em
    color: $guidelineicon

.icon-HowTo
  .path1:before
    content: "\e628"
    color: $howtoicon

  .path2:before
    content: "\e629"
    margin-left: -1em
    color: $white

.icon-HTML5
  .path1:before
    content: "\e62a"
    color: $html5icon

  .path2:before
    content: "\e62b"
    margin-left: -1em
    color: $white

.icon-Implementation
  .path1:before, .path2:before
    color: $implementationicon

  .path2:before, .path3:before
    margin-left: -1em

  .path1:before
    content: "\e62c"

  .path2:before
    content: "\e62d"

  .path3:before
    content: "\e62e"
    color: $white

.icon-Index:before
  content: "\e62f"

.icon-Info:before
  content: "\e630"

.icon-iOS
  .path1:before
    content: "\e631"
    color: $iosicon

  .path2:before
    content: "\e632"
    margin-left: -1em
    color: $white

.icon-Java
  .path1:before
    content: "\e633"
    color: $javaicon

  .path2:before
    content: "\e634"
    margin-left: -1em
    color: $white

.icon-Logout:before
  content: "\e635"

.icon-Mail:before
  content: "\e636"

.icon-Move:before
  content: "\e637"

.icon-Net
  .path1:before
    content: "\e638"
    color: $neticon

  .path2:before
    content: "\e639"
    margin-left: -1em
    color: $white

.icon-Net-3-5
  .path1:before
    content: "\e638"
    color: $net35icon

  .path2:before
    content: "\e639"
    margin-left: -1em
    color: $white

.icon-Paperclip:before
  content: "\e63a"

.icon-PHP
  .path1:before
    content: "\e63b"
    color: $white

  .path2:before
    content: "\e63c"
    margin-left: -1em
    color: $phpicon

.icon-Principle
  .path1:before
    content: "\e63d"
    color: $principleicon

  .path2:before
    content: "\e63e"
    margin-left: -1em
    color: $white

.icon-Requirement
  .path2:before, .path3:before
    margin-left: -1em
    color: $white

  .path1:before
    content: "\e63f"
    color: $requirementicon

  .path2:before
    content: "\e640"

  .path3:before
    content: "\e641"

.icon-Save:before
  content: "\e642"

.icon-Scala
  .path1:before
    content: "\e643"
    color: $scalaicon

  .path2:before
    content: "\e644"
    margin-left: -1em
    color: $white

.icon-Search:before
  content: "\e645"

.icon-Share:before
  content: "\e646"

.icon-Test
  .path1:before
    content: "\e647"
    color: $testicon

  .path2:before
    content: "\e648"
    margin-left: -1em
    color: $white

.icon-Tick:before
  content: "\e649"

.icon-Twitter:before
  content: "\e64a"

.icon-User:before
  content: "\e64b"

.icon-Vulnerabilities
  .path1:before
    content: "\e64c"
    color: $white

  .path2:before
    content: "\e64d"
    margin-left: -1em
    color: $vulnerabilitiesicon

.icon-WCF
  .path1:before
    content: "\e64e"
    color: $wcficon

  .path2:before
    content: "\e64f"
    margin-left: -1em
    color: $white

.icon-Web-App
  .path1:before, .path3:before, .path4:before, .path5:before, .path6:before, .path7:before, .path8:before, .path9:before, .path10:before, .path11:before
    color: $webappicon

  .path2:before, .path3:before, .path4:before, .path5:before, .path6:before, .path7:before, .path8:before, .path9:before, .path10:before, .path11:before
    margin-left: -1em

  .path1:before
    content: "\e650"

  .path2:before
    content: "\e651"
    color: $white

  .path3:before
    content: "\e652"

  .path4:before
    content: "\e653"

  .path5:before
    content: "\e654"

  .path6:before
    content: "\e655"

  .path7:before
    content: "\e656"

  .path8:before
    content: "\e657"

  .path9:before
    content: "\e658"

  .path10:before
    content: "\e659"

  .path11:before
    content: "\e65a"

.icon-Home:before
  content: "\e65b"

.icon-Edit:before
  content: "\e65c"

.icon-Loading:before
  content: "\e661"

.icon-Star:before
  content: "\e662"

.icon-Arrow-Up:before
  content: "\e65d"

.icon-Arrow-Right:before
  content: "\e65e"

.icon-Arrow-Down:before
  content: "\e65f"

.icon-Arrow-Left:before
  content: "\e660"