.about, .call-to-action, .usp
  background: $textcolor url(../assets/stock-img/bg-img-small.jpg) no-repeat
  padding: 0.5em

  h3, h2
    color: $white
    line-height: 1.5em
    font-size: 1.5em

.about, .call-to-action
  background-size: auto

.about
  background-position: 0 900px

.about-us, .clients, .features, .reasons
  background-color: $white

.about-us
  padding: 1em
  display: block
  height: auto
  background: $white

  h4
    margin: 0 0 1em 0

  a
    text-decoration: underline

.call-to-action
  background-position: 0 -18em

.clients
  padding: 0 1em 2em 1em
  background-color: white

.features
  height: auto
  display: block

.footer
  @extends .display-flex
  flex-order(100)
  flex-wrap(wrap)
  width: $fullwidth
  padding: 0 0.5em 0.5em
  text-align: center

  p
    display:block
    width: $fullwidth
    font-size: 0.75em

  .si
    flex(100%)
    margin: 0.75em 0 0 0
    text-decoration: underline

    a
      display: block
      text-align: center

      .si-logo
        background: url('../assets/logos/si-logo.svg') no-repeat;
        background-size: cover
        padding-top: 30px
        height: 0
        width: 200px
        margin: 12px auto 0

      .text
        font-size: 0.85em
        display: inline-block

  .icons
    flex(100%)
    font-size: 0.85em

  ul
    list-style-type: none
    list-style-position: outside
    padding: 0
    text-align: center

    li
      display: inline-block
      width: auto
      padding: 0 1em

      a
        text-decoration: none
        margin: 0

  span
    &.text
      padding: 0 0 0 0.5em
      display: table-cell

.usp
  background-position: 0 0

.reasons, .features
  padding: 1em