// Displays

.desktop-hide
  display: block

.mobile-hide
  display: none

// Objects

img
  width: $fullwidth

// Alerts

.alert
  width: 99%
  border: none
  border-radius: 3px
  font-size: 0.85em
  letter-spacing: 1px
  padding: 1em
  margin: 0.5em

.alert-ok
  background-color: $brandaccent
  color: $alertoktext

  a
    color: $white
    text-decoration: none

    &:hover
      color: $alertoktext

  .alert-icon
    color: $alertoktext

.alert-bad
  background: $alertbadbg
  color: $alertbadtext

  .alert-icon
    color: $alertbadtext

  a
    color: $white
    text-decoration: none

    &:hover
      color: $alertbadtext


.alert-neutral
  background-color: $bodycolor
  border: $border

span.alert-icon
  font-size: 2em
  padding: 0 10px 0 0

span.alert-text
  vertical-align: super

.close
  font-size: 2em
  float: right

// Badges & Icons

#filter-icon
  font-size: 2em

.filter-badge
  padding: 0.25em 0.5em
  font-size: 0.65em

.badge
  background-color: $bordercolor
  border: $border
  color: $textcolor
  font-size: 0.75em
  letter-spacing: 1px
  text-align: center
  padding: 0.5em 0.75em
  border-radius: 20%

.validation
  font-size: 0.75em