// Displays

.desktop-hide
  display: block

.mobile-hide
  display: none

// Objects

img
  width: $fullwidth

// Alerts

.alert
  width: 99%
  min-height: 4em
  border: none
  border-radius: 3px
  font-size: 0.85em
  letter-spacing: 1px
  padding: 1em
  margin: 0.5em

.alert-ok
  background-color: $brandaccent
  color: $alertoktext

  a
    color: $white
    text-decoration: none

    &:hover
      color: $alertoktext

  .alert-icon
    color: $alertoktext

.alert-bad
  background: $alertbadbg
  color: $alertbadtext

  .alert-icon
    color: $alertbadtext

  a
    color: $white
    text-decoration: none

    &:hover
      color: $alertbadtext


.alert-neutral
  background-color: $bodycolor
  border: $border

  a
    color: $textcolor !important
    text-decoration: underline

    &:hover
      color: $brandcolor !important
      text-decoration: underline

span.alert-icon
  font-size: 2em
  padding: 0 10px 0 0

span.alert-text
  vertical-align: super

.close
  font-size: 2em
  float: right

// Badges & Icons

#filter-icon
  font-size: 2em

.filter-badge
  padding: 0.25em 0.5em
  font-size: 0.65em

.badge
  background-color: $bordercolor
  color: $textcolor
  font-size: 0.75em
  letter-spacing: 1px
  text-align: center
  padding: 0.55em 0.75em
  border-radius: 1em
  max-height: 28px

.validation
  font-size: 0.75em

// Found Issue

.found-issue
  display: block
  border-radius: 3px
  padding: 0.5em
  z-index: 99
  margin: 0.5em 0.5em 0

  a
    text-decoration: underline

// Share module

.modal
  position: fixed
  top: 35%
  left: 25%
  width: 50%
  z-index: 99

  .navbar
    @extends .display-flex
    flex(100%)
    width: $fullwidth
    flex-justify-content(space-between)
    ms-flex-justify-content(justify)
    padding: 0.25em 0.75em
    background-color: $bordercolor

    .label
      flex(1)

    ul
      flex(1)
      text-align: right
      padding: 0.85em 0.5em

  .content
    background-color: $white
    padding: 0.5em
    height: auto
    border: $border

    h4
      padding: 0.53em 0

    h4, ul.display-inline
      display: table-cell

    ul.display-inline
      float: right
      text-align:right

    form
      @extends .display-flex

      label
        flex(100%)

      input
        flex(88%)
        border-radius: 0
        border-top-left-radius: 3px
        border-bottom-left-radius: 3px

      .button
        flex(12%)
        height: 2.5em
        padding: 0.5em 0

// Loading Bar

.loading-bar
  background-color: $brandcolor
  width: $fullwidth
  height: 0.25em
  position: fixed
  top: 3.5em

// Tool Tips

.tooltip
  position: absolute
  z-index: 999
  width: auto
  background-color: $bordercolor
  border: $border
  text-align: left
  padding: 0.05em 0.5em
  margin: 3%
  display:inline-block
  font-size: 0.65em