// First Level Navigation

nav
  @extends .display-flex
  flex(100%)
  flex-order(1)
  z-index: 99
  border: $border
  width: $fullwidth
  background-color: $white
  height: 3em

.logo
  flex-order(1)
  flex(45%)
  width: 45%
  height: 3em
  position: relative
  background: $white url('../assets/logos/tm-logo.svg') no-repeat 8px 8px
  background-size: 120px

.application-logo
  background: $white url(../assets/logos/tm-icon.svg) no-repeat
  background-size: 25px
  background-position: 10px
  width: 50px
  height: 45px
  display:inline-block

.links
  flex-order(2)
  flex(55%)
  width: 55%
  text-align: right
  left: 45%
  padding: 0.35em 0

  li
    a
      color: $brandcolor
      &:hover
        color: $alertoktext
    &:last-child
      display: none

.search
  @extends .display-flex
  flex(100%)
  flex-order(4)
  width: $fullwidth
  position: fixed
  left: 0
  bottom: 0
  background-color: $white
  z-index: 99
  border-top: $border

  form
    flex(76%)
    width: 76%
    height: $fullheight
    flex-wrap(nowrap)
    margin: 0
    padding: 0

    input
      flex(80%)
      width: 80%
      transitions(0.3s)
      padding: 1.15em 1.5em 0

      :focus
        border-bottom: 1px solid $brandcolor

    input, input:focus
      border: none;
      border-radius: 0;

    select
      flex(20%)
      width: 20%
      background: $bodycolor
      border: $border
      color: $basecolor
      border: none
      margin: 0 auto
      height: 3.5em

    button
      position: relative
      display: inline-block
      padding: 0.75em 1em
      border: none
      background-color: $transparent
      color: $basecolor !important
      font-size: 1em
      overflow(visible)
      transitions(0.3s)
      width: auto;

      &:hover
        background: none
        color: $brandaccent !important

      &:focus
        outline: none
        color: $brandcolor

// Second Level Navigation

dl
  background-color: $white
  border: $border
  border-bottom: 0
  margin: 0.5em

  dt
    @extends .display-flex
    flex-justify-content(space-between)
    padding: 0.35em 0.5em
    background-color: $bordercolor

    span.sub-nav__icon
      padding: 1em 0.5em 0 0

    &.editor
      padding: 0

      form
        width: $fullwidth
        padding: 0

        div
          width: 25%
          display: inline-block
          padding: 1em
          border-right: 1px solid $basecolor

          &:last-child
            border-right: 0

          label
            margin: 0

          input[type=radio]
            display: none

            &:checked
              + label
                color: $brandcolor

  .scroll
    height: 200px
    overflow(auto)

  dd
    @extends .display-flex
    flex-justify-content(space-between)
    padding: 1em
    margin: 0
    border-bottom: $border
    font-size: 0.85em

    span.text
      padding: 0.35em 0 0 0

    ul
      padding: 0
      list-style-type: none
      background-color: $bodycolor
      border: $border
      border-bottom: 0
      margin: 1em 0

      li
        padding: 0.5em
        border-bottom: $border

    form
      padding: 0

      input
        margin: 0 !important

    .help
      dd
        flex-direction(column)

// Pagination

.pagination
  width: $fullwidth
  height: 3em
  margin: 1em 0

  .previous, .next
    flex(1)
    height: $fullheight
    text-align: center;
    padding: 0.75em;

  .number
    flex(1)