.fix-vulnerabilities, .reduce-vulnerabilities, .improve-process, .delivers-compliance, .integrates, .cross-references, .provides-guidance
  height: 100px
  width: 100px
  background: url(../assets/icons/landing-page-icons.png) no-repeat top center
  display: inline-block
  position: relative

.fix-vulnerabilities, .reduce-vulnerabilities, .provides-guidance
  background-size: 685%

.improve-process, .delivers-compliance, .integrates, .cross-references
  background-size: 700%

.fix-vulnerabilities, .elsevier
  background-position: 0 0

.reduce-vulnerabilities
  background-position: 17.2% 0

.improve-process
  background-position: 34% 0

.delivers-compliance
  background-position: 50.3% 0

.integrates
  background-position: 66.7% 0

.cross-references
  background-position: 83% 0

.provides-guidance
  background-position: 100% 0