html, body
  height: $fullheight
  width: $fullwidth
  margin: 0
  padding: 0

body
  @extends .display-flex
  flex-wrap(wrap)
  flex-align-items(flex-start)
  ms-flex-align-items(start)
  flex-justify-content(flex-start)
  ms-flex-justify-content(start)
  flex-align-content(flex-start)
  ms-flex-align-content(start)
  background-color: $bodycolor
  font: $font-stack
  min-height: $fullheight
  -webkit-animation-delay: 0.1s
  -webkit-animation-name: fontfix
  -webkit-animation-duration: 0.1s
  -webkit-animation-iteration-count: 1
  -webkit-animation-timing-function: linear

  *
    @extends .border-box-sizing

@-webkit-keyframes fontfix
  from { opacity: 1 }
  to   { opacity: 1 }

.middle-col
  padding: 0 0 4em

ui-view
  &.ng-scope
    width: $fullwidth

.full-width
  width: $fullwidth !important
  display: block

.half-width
  width: 50%
  margin: 0 auto

.one-third
  width: 33%
  margin: 0 auto

.one-fourth
  width: 25%
  margin: 0 auto

.display-mobile
  display: block

.display-desktop
  display: none

::-webkit-scrollbar
  width: 0.5em

  &:horizontal
    display: none

::-webkit-scrollbar-track
  background-color: $white

::-webkit-scrollbar-thumb
  background-color: $brandaccent