table
  width: $fullwidth
  padding: 0 12px
  border-collapse: collapse
  border: $border

.article
  table
    background-color: $midlightcolor
    margin: 1.5em 0
    tr
      td
        border: 1px solid $basecolor
        padding: 1em